{% extends "widget/base.html" %}

{% load i18n thumbnail %}

{% block content %}
<div class="page-title">
	<h2>{{ object.title }}</h2>
</div>
<div class="widget widget-padder">
	{{ object.description|safe }}
</div>
<div class="widget widget-project-list widget-padder">
	<h3>Realizované projekty</h3>
	<ul>
	{% for project in object.portfolioproject_set.all %}
	<li>
		<a href="/reference/{{ project.uri }}/" title="{{ object.title }}">
			<div class="project_image">
				<img src="{% thumbnail project.get_first_image.image 200x200 %}" alt="náhled" />
			</div>
			<span>{{ project.title }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>
	<div class="clear"></div>
</div>
{% endblock %}
