{% extends widget.get_base_template %}

{% load i18n %}
{% load feincms_tags %}
{% load webcms_tags %}

{% block content %}
{% for child_page in page.get_children %}
<div class='col-md-6{% if forloop.counter|divisibleby:"2" %} last{% endif %}'>
	{% feincms_render_region child_page region request %}
	{% if widget.link_style != "" %}
	<div class="link-more ui-helper-clearfix">
		{% if widget.link_style == "link" %}
		<a href="{{ child_page|get_url }}">
		{% else %}
		<a class="button" href="{{ child_page|get_url }}"><span><span>
		{% endif %}
		{% if widget.link_text %}{{ widget.link_text }}{% else %}{{ child_page.short_title }}{% endif %}
		{% if widget.link_style == "link" %}
		</a>
		{% else %}
		</span></span></a>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endfor %}
{% endblock %}
