{% extends "widget/base.html" %}

{% load i18n feincms_tags feincms_page_tags %}


<div class="box-group" id="accordion">
  <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
  <div class="panel box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div style="" aria-expanded="true" id="collapseOne" class="panel-collapse collapse in">
      <div class="box-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel box box-danger">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Collapsible Group Danger
        </a>
      </h4>
    </div>
    <div style="height: 0px;" aria-expanded="false" id="collapseTwo" class="panel-collapse collapse">
      <div class="box-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel box box-success">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Success
        </a>
      </h4>
    </div>
    <div style="height: 0px;" aria-expanded="false" id="collapseThree" class="panel-collapse collapse">
      <div class="box-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


<div class="box-group" id="accordion">
  <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
  <div class="panel box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">
        <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div style="" aria-expanded="true" id="collapseOne" class="panel-collapse collapse in">
      <div class="box-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>



{% block content %}
<div class="box-group">
  <div class="panel box">
    {% for child_page in page.get_children %}
    <div id="tab_{{ forloop.counter0 }}" class="tab-pane">
      <div class="box-header with-border">
        <h4 class="box-title">
          <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">xxx</a>
        </h4>
      </div>
      {% feincms_render_region child_page region options.request %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}