{% extends widget.get_base_template %}

{% load i18n feincms_tags feincms_page_tags %}

{% block content %}
<div class="edit-padder"></div>
<ul>
{% for child_page in page.get_children %}
{% if child_page.is_active %}
<li>
	<a href="{{ child_page.get_absolute_url }}">
		{% if widget.link_text %}{{ widget.link_text }}{% else %}{{ child_page.short_title }}{% endif %}
		<span>{% feincms_render_region child_page region request %}</span>
	</a>
</li>
{% endif %}
{% endfor %}
</ul>
{% endblock %}
