{% extends widget.get_base_template %}

{% load i18n feincms_tags feincms_page_tags %}

{% block content %}
<ul class="nav nav-tabs">
  {% for child_page in page.get_children %}
  <li{% if forloop.first %} class="active"{% endif %}><a data-toggle="tab" href="#tab_{{ widget.fe_identifier }}_{{ forloop.counter0 }}">{{ child_page.title }}</a></li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for child_page in page.get_children %}
  <div id="tab_{{ widget.fe_identifier }}_{{ forloop.counter0 }}" class="tab-pane{% if forloop.first %} active{% endif %}">
    {% feincms_render_region child_page region request %}
  </div>
  {% endfor %}
</div>
{% endblock %}