{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<div id="form{{ content.id }}">
  {% if content.show_form_title %}
    <h2>{{ content.form.title }}</h2>
  {% endif %}
  {% if form %}
  <form method="post" action="#form{{ content.id }}" class="{{ content.formclass }}">
    {% csrf_token %}
    <input type="hidden" name="_formcontent" value="{{ content.id }}">
    {{ form }}
    <input type="submit" value="{{ content.submit_caption }}"></td>
  </form>
  {% else %}
    {{ message|safe }}
  {% endif %}
</div>
{% endblock %}