{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block content %}
<div id="form{{ widget.id }}">
  {% if widget.show_form_title %}
    <h2>{{ widget.form.title }}</h2>
  {% endif %}
  {% if form %}
  <form method="post" action="#form{{ widget.id }}">{% csrf_token %}
    <table>
      {{ form }}
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value='{% trans "Submit" %}' /></td>
      </tr>
    </table>
  </form>
  {% else %}
    {{ message|safe }}
  {% endif %}
</div>
{% endblock %}
