{% load i18n %}

<div class="btn-group pull-right wide">
  <a class="ajax-modal btn btn-info" href="{% url 'widget_update' widget.get_ct_name widget.id %}"><i class="fa fa-pencil-square-o"></i></a>
  <a class="btn btn-info" href="{% url 'widget_copy' widget.get_ct_name widget.id %}"><i class="fa fa-files-o"></i></a>
  <a id="ajax-info-{{ widget.fe_identifier }}" class="btn btn-info" href='#'><i class="fa fa-info-circle"></i></a>
  <a class="ajax-modal btn btn-danger" href="{% url 'widget_delete' widget.get_ct_name widget.id %}"><i class="fa fa-times"></i></a>
  <button data-toggle="dropdown" class="btn btn-box-tool btn-success dropdown-toggle" id="edit-position"><i class="fa fa-exchange"></i></button>
  <ul role="menu" class="dropdown-menu dropdown-menu-right">
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id -1 %}">{% trans 'Up' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 1 %}">{% trans 'Down' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 0 %}">{% trans 'As first' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 5 %}">{% trans 'As Last' %}</a></li>
  </ul>
</div>

<div class="btn-group pull-right narrow">
  <button data-toggle="dropdown" class="btn btn-box-tool btn-info dropdown-toggle" id="edit-position"><i class="fa fa-pencil-square-o"></i></button>
  <ul role="menu" class="dropdown-menu dropdown-menu-right">
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id -1 %}">{% trans 'Edit' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 1 %}">{% trans 'Copy' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 0 %}">{% trans 'Info' %}</a></li>
    <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 5 %}">{% trans 'Delete' %}</a></li>
    <li class="dropdown-submenu pull-left">
      <a tabindex="-1" href="#">Position</a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id -1 %}">{% trans 'Up' %}</a></li>
        <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 1 %}">{% trans 'Down' %}</a></li>
        <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 0 %}">{% trans 'As first' %}</a></li>
        <li><a href="{% url 'widget_reorder' widget.get_ct_name widget.id 5 %}">{% trans 'As Last' %}</a></li>
      </ul>
    </li>
  </ul>
</div>

<script src='/static/js/lib/resize.detect.js'></script>

<script type="text/javascript">

function evaluateWidgetTools() {
    var widget_width = $("#{{ widget.fe_identifier }}").outerWidth();

    if (widget_width > 250) {
        $("#{{ widget.fe_identifier }} .widget-tools .wide").show();
        $("#{{ widget.fe_identifier }} .widget-tools .narrow").hide();
    } else {
        $("#{{ widget.fe_identifier }} .widget-tools .wide").hide();
        $("#{{ widget.fe_identifier }} .widget-tools .narrow").show();
    }
}

$( document ).ready( evaluateWidgetTools );

$("#{{ widget.fe_identifier }}").widthChanged( evaluateWidgetTools );

</script>


<script type="text/javascript">

$(function() {

  $('#ajax-info-' + '{{ widget.fe_identifier }}').on('click', function (evt, modal) {
  	    $.ajax({
        type: "GET",
        url: '{% url 'widget_info' widget.get_ct_name widget.id %}',
        async: true,
        success: function(data){
          horizon.autoDismissAlerts();
        }      
      });
  });
});

$("#{{ widget.fe_identifier }}").dblclick(function (evt) {
    var $this = $(this);

    // If there's an existing modal request open, cancel it out.
    if (horizon.modals._request && typeof(horizon.modals._request.abort) !== undefined) {
      horizon.modals._request.abort();
    }

    horizon.modals._request = $.ajax("{% url 'widget_update' widget.get_ct_name widget.id %}", {
      beforeSend: function () {
        horizon.modals.modal_spinner(gettext("Loading"));
      },
      complete: function () {
        // Clear the global storage;
        horizon.modals._request = null;
        horizon.modals.spinner.modal('hide');
      },
      error: function(jqXHR, status, errorThrown) {
        if (jqXHR.status === 401){
          var redir_url = jqXHR.getResponseHeader("X-Horizon-Location");
          if (redir_url){
            location.href = redir_url;
          } else {
            location.reload(true);
          }
        }
        else {
          if (!horizon.ajax.get_messages(jqXHR)) {
            // Generic error handler. Really generic.
            horizon.alert("danger", gettext("An error occurred. Please try again later."));
          }
        }
      },
      success: function (data, textStatus, jqXHR) {
        var update_field_id = $this.attr('data-add-to-field'),
          modal,
          form;
        modal = horizon.modals.success(data, textStatus, jqXHR);
        if (update_field_id) {
          form = modal.find("form");
          if (form.length) {
            form.attr("data-add-to-field", update_field_id);
          }
        }
      }
    });
    evt.preventDefault();
    evt.stopPropagation();
});

</script>
