{% load i18n %}

<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-box-tool btn-info btn-xs dropdown-toggle"><i class="fa fa-wrench"></i></button>
  <ul role="menu" class="dropdown-menu">
    <li><a class="ajax-modal" href="{% url 'widget_update' widget.get_ct_name widget.id %}">{% trans 'Edit' %}</a></li>
    <li><a id="ajax-info-{{ widget.id }}" href='#'>{% trans 'Info' %}</a></li>
    <li class="divider"></li>
    <li><a class="ajax-modal" href="{% url 'widget_delete' widget.get_ct_name widget.id %}">{% trans 'Delete' %}</a></li>
  </ul>
</div>

<script type="text/javascript">
$(function() {
    ajaxOpts = {
      type: "GET",
      url: '{% url 'widget_info' widget.get_ct_name widget.id %}',
      headers: {},
      data: {},
      beforeSend: function () {
        $("#modal_wrapper .modal").last().modal("hide");
        $('.ajax-modal, .dropdown-toggle').attr('disabled', true);
        horizon.modals.modal_spinner(gettext("Working"));
      },
      complete: function () {
        horizon.modals.spinner.modal('hide');
      	$('.ajax-modal, .dropdown-toggle').removeAttr("disabled");
      },
      success: function (data, textStatus, jqXHR) {
		    horizon.clearErrorMessages();

        var template = horizon.templates.compiled_templates["#alert_message_template"],
          params = {
            "type": 'info',
            "type_display": gettext("Notice: "),
            "message": data,
            "safe": true
          };
        $(template.render(params)).hide().prependTo(".messages").fadeIn(100);
      },
      error: function (jqXHR) {

        var template = horizon.templates.compiled_templates["#alert_message_template"],
          params = {
            "type": 'error',
            "type_display": gettext("error: "),
            "message": gettext("Unable to get widget info."),
            "safe": true
          };
        $(template.render(params)).hide().prependTo(".messages").fadeIn(100);
      }
    };

    $('#ajax-info-' + '{{ widget.id }}').on('click', function (evt, modal) {
		$.ajax(ajaxOpts);
    });
});	
</script>