{% load applicationcontent_tags i18n %}

{% include "base/widget/_common.html" %}

<div id="{{ widget.fe_identifier }}" class="fe_box leonardo-widget leonardo-{{ widget.widget_name }}-widget {{ widget.render_box_classes }}">
  <div class="bs-callout leonardo-content template-{{ widget.theme.label }} {{ widget.widget_name }}-{{ widget.theme.name }}">
    {% if request.frontend_editing %}
    <div class="widget-tools">
      {% include "base/widget/_edit.html" %}
    </div>
    {% endif %}
    {% block title %}
    {% if widget.label %}
    <a id="{{ widget.label|slugify }}"></a>
    <h2 class="widget-title"><span>{{ widget.label }}</span></h2>
    {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
  </div>
</div>
