{% load applicationcontent_tags i18n %}

{% include "base/widget/_base_begin.html" %}

<div id="{{ widget.fe_identifier }}" class="{{ widget.render_base_classes }}" {% if widget.enter_effect_style != 'disabled' %}data-aos="{{ widget.enter_effect_style }}"{% endif %}{% if widget.enter_effect_duration %}data-aos-duration="{{ widget.enter_effect_duration }}"{% endif %} {% if widget.enter_effect_delay %}data-aos-delay="{{ widget.enter_effect_delay }}"{% endif %} {% if widget.enter_effect_offset %}data-aos-offset="{{ widget.enter_effect_offset }}"{% endif %} data-aos-once="{% if widget.enter_effect_iteration == 0 %}false{% elif widget.enter_effect_iteration == 1 %}true{% endif %}">
  <div class="jumbotron {{ widget.render_content_classes }}">
    {% if request.frontend_editing %}
    <div class="widget-tools">
      {% include "base/widget/_edit.html" %}
    </div>
    {% endif %}
    {% block title %}
    {% if widget.label %}
    <a id="{{ widget.label|slugify }}"></a>
    <h2 class="widget-title"><span>{{ widget.label }}</span></h2>
    {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
  </div>
</div>

{% include "base/widget/_base_end.html" %}
