{% extends "admin/base_site.html" %}

{% load i18n %}
{% load admin_modify %}
{% load config_tags %}
{% load webcms_form_tags %}

{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}
<h2>{{ title }}</h2>
{% endblock %}

{% block object-tools %}
<li><a href="{% url settings_export %}">{% trans "Export settings" %}</a></li>
<li><a href="{% url webcms_admin:devel_dashboard %}">{% trans "Project setup" %}</a></li>
{% endblock %}

{% block content %}
{% if not use_db %}
<p>{% trans "Livesettings are disabled for this site." %}</p>
<p>{% trans "All configuration options must be edited in the site settings.py file." %}</p>
</div>
{% admin_site_views 'satchmo_site_settings' %}
{% else %}
{% if form.errors %}
<p class="errornote">
{% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}
{% if form.fields %}
<form method="post" class="webcms-form" action=".">
	{% csrf_token %}
	<div class="admin-form-tabs">
		<div class="span-6">
			<h3>{% trans "Select options page" %}</h3>
			<ul>
				{% for field in form %}
				{% ifchanged field.field.group %}{% with field.field.group as group %}
				<li><a href="#tab-{{ group.key|slugify }}">{{ group.name }}</a></li>
				{% endwith %}{% endifchanged %}
				{% endfor %}
			</ul>
		</div>
		<div class="span-18 last">
			<div class="tabs-container">
				{% for field in form %}
				{% if field.is_hidden %}
				{{ field }}
				{% else %}
				{% ifchanged field.field.group %}{% with field.field.group as group %}
				{% if not forloop.first %}
					</div>
				</div>
				{% endif %}

				<div id="tab-{{ group.key|slugify }}">
					<div class="form-fieldset">
				{% endwith %}{% endifchanged %}
				{{ field|form_field }}
				{% endif %}
				{% endfor %}
					</div>
				</div>

				<div class="admin-form-buttons">
					<button type="submit">{% trans "Save settings" %}</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% else %}
<p>{% trans "You don't have permission to edit values." %}</p>
{% endif %}
{% endif %}
{% endblock %}
