
{% load crispy_forms_tags i18n %}

{% block css_extra %}
<style type="text/css">
#settings_button {
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 1040;
    cursor: pointer;
}

#settings_menu {
    padding: 10px;
    position: fixed;
    top: 70px;
    right: -250px;
    width: 250px;
    z-index: 1040;
}

{# Show widgets #}

.show-widgets .leonardo-widget {
  background: repeating-linear-gradient(
    45deg,
    rgba(60, 179, 113, 0.5),
    rgba(60, 179, 113, 0.5) 10px,
    rgba(46, 139, 87, 0.5) 10px,
    rgba(46, 139, 87, 0.5) 20px
  );
  background-position: 4px 4px;
  background-size: calc(100% - 8px) calc(100% - 8px);
  background-repeat: no-repeat;
  outline: 1px solid #97c5ab;
}

{# Show containers #}

.show-containers .container {
  background-color: rgba(0,255,0,0.1);
}

.show-containers .container-fluid {
  background-color: rgba(0,0,255,0.1);
}

{# Region grid CSS overrides #}

.leonardo-region {
  position: relative;
}

.leonardo-region:after {
  content: "";
  display: table;
  clear: both;
}

#grid-displayer {
  position: absolute !important;
  display: initial !important;
  z-index: 999 !important;
}

#grid-displayer .gd-container {
  padding: 0px 15px;
}

#grid-displayer .gd-container .gd-column {
  border-width: 0px 5px !important;
}

#grid-displayer-tools {
  display: none !important;
}

{# Region grid colors #}

.leonardo-region-header .gd-column {
  outline-color: #32CD32 !important;
  background-color: #32CD32 !important;
}

.leonardo-region-toolbar .gd-column {
  outline-color: #1E90FF !important;
  background-color: #1E90FF !important;
}

.leonardo-region-col1 .gd-column {
  outline-color: #B22222 !important;
  background-color: #B22222 !important;
}

.leonardo-region-col3 .gd-column {
  outline-color: #FF4500 !important;
  background-color: #FF4500 !important;
}

.leonardo-region-col2 .gd-column {
  outline-color: #008080 !important;
  background-color: #008080 !important;
}

.leonardo-region-footer .gd-column {
  outline-color: #9370DB !important;
  background-color: #9370DB !important;
}

</style>
{% endblock %}

<div class="no-print btn btn-primary" id="settings_button"><i class="fa fa-gear"></i></div>
<div class="no-print panel panel-default" id="settings_menu">

    {% for action in LEONARDO_CONFIG.page_actions %}
      {% include action %}
    {% endfor %}

  </div>
</div>

<script type="text/javascript">
    var leonardo = function(leonardo) {
    leonardo.frontend_admin_menu = leonardo.frontend_admin_menu || {};

    leonardo.frontend_admin_menu.initAdminMenu = function(){
        var defaultTop = 150,
          $settingsButton = $("#settings_button"),
          $demoSettings = $('#settings_menu'),
          setMenuHeight = function(topPosition,testOnly){
            if(typeof topPosition === 'string'){
              topPosition = parseInt(topPosition);
            }
            if(topPosition && topPosition>= 0){
               if($(window).height() < topPosition){
                topPosition=$(window).height()-($settingsButton.height()+20);
               }
               $settingsButton.css("top", parseInt(topPosition));
               $demoSettings.css("top", parseInt(topPosition));
               return true;
            }else{
               $settingsButton.css("top", defaultTop);
               $demoSettings.css("top", defaultTop);
              return false;
            }
          };

      $settingsButton.draggable({
        axis:'y',
        start: function( event, ui ) {
           event.stopPropagation();
        },
        stop: function( event, ui ) {
            if(setMenuHeight(ui.position.top)){
              localStorage.setItem('settingsButton_position',ui.position.top);
            }
            $settingsButton.css("left", "");
        },
        drag: function( event, ui ) {
          $demoSettings.css("top",ui.position.top);
        }
      });
      $(window).resize(function(){
        setMenuHeight($settingsButton.css("top"));
      });
      
      setMenuHeight(localStorage.getItem('settingsButton_position'));

      $settingsButton.click(function () {
        if (!$settingsButton.hasClass("open")) {
          localStorage.setItem('settingsButton_open',true);
          $settingsButton.animate({"right": "250px"});
          $settingsButton.addClass("open");
          $demoSettings.animate({"right": "0"});
        } else {
          leonardo.frontend_admin_menu.hideSettings();
        }
      });

      if(localStorage.getItem('settingsButton_open') === "true"){
        $settingsButton.animate({"right": "250px"});
        $demoSettings.animate({"right": "0"});
        $settingsButton.addClass("open");
      }
  };
  leonardo.frontend_admin_menu.hideSettings = function () {
      var $settingsButton = $("#settings_button"),
          $demoSettings = $('#settings_menu');
      localStorage.setItem('settingsButton_open',false);
      $settingsButton.animate({"right": "0"});
      $settingsButton.css('left', '');
      $demoSettings.animate({"right": "-250px"});
      $settingsButton.removeClass("open"); 
  };
  $(leonardo.frontend_admin_menu.initAdminMenu);
  return leonardo;
}(leonardo || {});

</script>
