{% extends "leonardo/common/_modal_form.html" %}

{% load url from future %}
{% load crispy_forms_tags i18n %}

{% block form_id %}{{ form_id }}{% endblock %}
{% block form_action %}{{ url }}{% endblock %}

{% block modal-header %}{{ modal_header }}{% endblock %}

{% block modal-body %}

{{ body|safe }}
{% crispy form %}

{% endblock %}

{% block modal-footer %}
{% if cancel_url == None %}
<a href="{{ cancel_url }}" class="btn btn-default cancel" data-dismiss="modal">{{ cancel_label|default:_('Cancel') }}</a>
{% elif cancel_url %}
<a href="{% block cancel_url %}{{ cancel_url }}{% endblock %}"
 class="btn btn-default cancel">
{{ cancel_label|default:_('Cancel') }}
</a>
{% endif %}
  <input class="btn btn-primary" type="submit" value="{{ form_submit|default:_('Save') }}" />
{% endblock %}
