{% load thumbnail %}

{% if widget.detail == "open_modal" %}
<a class="thumbnail" href="{{ image.url }}" data-title="{{ image.translation.default_caption|default:'' }}" data-gallery="multiimages" data-footer="{{ image.translation.description|default:'' }}" data-toggle="lightbox" rel="{{ widget.fe_identifier }}">
  {% if widget.size %}
  {% thumbnail image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ image.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endif %}
</a>

{% elif widget.detail == "open_new_window" %}
<a class="thumbnail" href="{{ image.url }}" target="_blank">
  {% if widget.size %}
  {% thumbnail image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ image.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endif %}
</a>

{% elif widget.detail == "on_page" %}
<a class="thumbnail" href="{{ widget.parent.get_absolute_url }}">
  {% if widget.size %}
  {% thumbnail image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ image.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
  {% endif %}
</a>

{% else %}

{% if widget.size %}
{% thumbnail image.file size format="PNG" as thumb %}
<img class="img-responsive" src='{{ thumb.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
{% endthumbnail %}
{% else %}
{% thumbnail image.file size format="PNG" as thumb %}
<img class="img-responsive" src='{{ thumb.url }}' alt='{{ image.translation.default_caption|default:'' }}' />
{% endthumbnail %}
{% endif %}

{% endif %}
