{% extends widget.get_base_template %}

{% load thumbnail %}

{% block content %}
{% with widget.get_size as size %}

{% if widget.detail == "open_modal" %}
<a class="thumbnail" href="{{ widget.image.url }}" data-title="{{ widget.image.default_caption|default:'' }}" data-footer="{{ widget.image.description|default:'' }}" data-toggle="lightbox" rel="{{ widget.fe_identifier }}">
  {% if widget.size %}
  {% thumbnail widget.image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ widget.image.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endif %}
</a>
{% endif %}

{% if widget.detail == "open_new_window" %}
<a class="thumbnail" href="{{ widget.image.url }}" target="_blank">
  {% if widget.size %}
  {% thumbnail widget.image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ widget.image.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endif %}
</a>
{% endif %}

{% if widget.detail == "on_page" %}
<a class="thumbnail" href="{{ widget.parent.get_absolute_url }}">
  {% if widget.size %}
  {% thumbnail widget.image.file size format="PNG" as thumb %}
  <img class="img-responsive" src='{{ thumb.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endthumbnail %}
  {% else %}
  <img class="img-responsive" src='{{ widget.image.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
  {% endif %}
</a>

{% else %}

{% if widget.size %}
{% thumbnail widget.image.file size format="PNG" as thumb %}
<img class="img-responsive" src='{{ thumb.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
{% endthumbnail %}
{% else %}
<img class="img-responsive" src='{{ widget.image.url }}' alt='{{ widget.image.default_caption|default:'' }}' />
{% endif %}

{% endif %}

{% endwith %}

{% endblock %}
