{% extends "leonardo/common/_modal_form.html" %}

{% load url from future %}
{% load crispy_forms_tags i18n %}

{% block modal-header %}{{ modal_header }}{% endblock %}

{% block modal-body %}

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{ url }}" allowfullscreen></iframe>
</div>

{% endblock %}

{% block modal-footer %}
  <a href="" class="btn btn-default" data-dismiss="modal" onclick="window.location.reload();">{% trans "Close" %}</a>
{% endblock %}
