{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_tags %}
{% load webcms_form_tags %}

{% block content %}
<form action="." method="post" class="form">
	{% csrf_token %}
	<div class="fieldset">
		{{ form.domain|form_field }}
	</div>
	<div class="buttonset">
		{% form_button "submit" "Search domain" %}
	</div>
</form>
{% if result %}
<table>
	<thead>
		<tr>
			<th>{% trans "Domain" %}</th>
			<th>{% trans "Status" %}</th>
			<th>{% trans "Expires" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for item in result %}
		<tr class="{% if item.status %}success{% else %}alert{% endif %}">
			<td>{{ item.name }}.{{ item.tld }}</td>
			<td>
				{% if item.status %}
				{% trans 'Domain is available' %}
				{% else %}
				{% trans 'Domain is occupied' %}
				{% endif %}
			</td>
			<td>{{ item.data.expiration_date.0 }}</td>
			{% comment %}
			<td>
				{% for email in item.data.emails %}
				{% ifchanged %}<a href="mailto:{{ email }}">{{ email|truncchar:32 }}</a><br />{% endifchanged %}
				{% endfor %}
			</td>
			{% endcomment %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}
