{% load feincms_tags %}
{% load feincms_page_tags %}


<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>Robotice</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% feincms_nav feincms_page level=2 depth=2 as sublevel %}
        {% for p in sublevel %}
            <li><a href="{{ p.get_absolute_url }}" class="smothScroll">{{ p.title }}</a></li>              
        {% endfor %}
      </ul>

    <div id="user_info" class="pull-right">

      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
          <li><a class="fa fa-user" href="TODO">{{ request.user.username }}</a></li>
          <li><a href="{% url 'horizon:module:auth:logout' %}">Sign Out</a></li>
        {% else %}
          <li><a class="ajax-modal" href="{% url 'horizon:module:auth:login' %}">Sign In</a></li>
          <li><a class="ajax-modal" href="{% url 'horizon:module:auth:signup' %}">Sign Up</a></li>
        {% endif %}             
      </ul>
      
    </div>
    
    </div>
  </div>
</div>