	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Welcome To <b>Smugglers</b></h1>
					<h3>Smuggle some stuff with other people. <br>
					It's realy easy !</h3>
					<br>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Easy and comfortable</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="{{ STATIC_URL }}/assets/img/intro01.png" alt="">
					<h3>Community</h3>
					<p>Portal.</p>
				</div>
				<div class="col-lg-4">
					<img src="{{ STATIC_URL }}/assets/img/intro02.png" alt="">
					<h3>Schedule</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="col-lg-4">
					<img src="{{ STATIC_URL }}/assets/img/intro03.png" alt="">
					<h3>Monitoring</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->