{% extends "widget/base.html" %}

{% load i18n %}
{% load feincms_tags %}

{% block content %}
{% for object in widget.get_last_posts %}
<div class="{% cycle 'odd' 'even' %} news_item">
	<div class="object-list ui-helper-clearfix">
		<div class="object-meta">{{ object.published_on|date:"j. m. Y" }}</div>
		<div class="object-text">
			<h3><a href='{% url webcms.module.blog.apps.blog/webcms_blog_entry_detail object.published_on|date:"Y" object.published_on|date:"m" object.published_on|date:"d" object.slug %}'>{{ object.title }}</a></h3>
			{% feincms_render_region object "preview" request %}
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
