{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block page_title %}
{% if validlink %}
{% trans "Enter new password" %}
{% else %}
{% trans 'Password reset unsuccessful' %}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% if validlink %}{% trans "Enter new password" %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}</strong></li>
{% endblock %}

{% block content %}
{% if validlink %}
<form class="form" method="post" action=".">
	{% csrf_token %}
	<p class="info">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	<div class="fieldset">
		<h3>{% trans "Enter new password" %}</h3>
		<div class="fieldrow">
			{{ form.new_password1|form_field }}
			{{ form.new_password2|form_field }}
		</div>
	</div>
	<div class="buttonset">
		<p class="required">* {% trans "Required fields" %}</p>
		{% form_button "submit" "Change my password" %}
	</div>
</form>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
