{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block page_title %}
{% trans "Password Reset" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Password Reset" %}</strong></li>
{% endblock %}

{% block content %}
<p class="info">{% trans "Enter e-mail address you have entered during registration process." %}<br />
{% trans "You will receive immediatelly a link with an option to set a new password." %}</p>
<form class="form" method="post" action=".">
	{% csrf_token %}
	<div class="fieldset">
		<h3>{% trans 'Account e-mail address' %}</h3>
		<div class="fieldrow">
			{{ form.email|form_field }}
		</div>
	</div>
	<div class="buttonset">
		<p class="required">* {% trans "Required fields" %}</p>
		<a class="f-left link" href="{% url webcms.module.web.apps.auth/webcms_web_login %}">« {% trans "Back" %}</a>
		{% form_button "submit" "Submit" %}
	</div>
</form>
{% endblock %}
