{% extends "widget/base.html" %}

{% load i18n %}
{% load feincms_tags %}

{% block content %}
<div id="cu3er">
	<p>Click link to get Flash Player or try to enable JavaScript and reload the page.</p>
	<p><a href="http://www.adobe.com/go/getflashplayer">
		<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
	</a></p>
</div>

<script type="text/javascript" src="/static/lib/cu3er/cu3er.js"></script>
<script type="text/javascript">
var vars = { xml_location : "{% url bannerslot_external_config widget.fe_identifier 'cu3er' %}" };
var params = { bgcolor : '#ffffff', scale: "exactFit" };
var attributes = { id:'cu3er', name:'cu3er' };
var swf_path = '/static/lib/cu3er/cu3er.swf';
var swf_install_path = "/static/lib/swfobject/expressinstall.swf";

swfobject.embedSWF(swf_path, "cu3er", '100%',  400, "10.0.0", swf_install_path, vars, params, attributes );

var CU3ER_object = new CU3ER("cu3er");
</script>
{% endblock %}
