<div class="span-11 append-1">

<table summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
	<caption>A standard test table with a caption, tr, td elements</caption>
	<tr>
		<th>Table Header One</th>
		<th>Table Header Two</th>
	</tr>
	<tr>
		<td>TD One</td>
		<td>TD Two</td>
	</tr>
	<tr>
		<td colspan="2">TD colspan 2</td>
	</tr>
</table>

</div>
<div class="span-12 last">

<table summary="This is the summary text for this table."  border="0" cellspacing="0" cellpadding="0">
	<caption><em>A test table with a thead, tfoot, and tbody elements</em></caption>
	<thead>
		<tr>
			<th>Table Header One</th>
			<th>Table Header Two</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">tfoot footer</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr>
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr>
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
	</tbody>
</table>

</div>