<table class="table table-striped">
        
        <tbody><tr>
            <th>Product Type</th><td>PC</td>
        </tr>

        
        
            <tr>
                <th>Price (excl. tax)</th><td>£200.00</td>
            </tr>
            
                <tr>
                    <th>Price (incl. tax)</th><td>£200.00</td>
                </tr>
                <tr>
                    <th>Tax</th><td>£0.00</td>
                </tr>
            
            <tr>
                <th>Availability</th>
                <td>In stock (449 available)</td>
            </tr>
        
        
            <tr>
                <th>velikost</th>
                <td>velikost</td>
            </tr>
        
        
            <tr>
                <th>Number of reviews</th>
                <td>0</td>
            </tr>
        
    </tbody></table>

