{% load feincms_tags %}

<div id="header">
	<div class="container region">
		{% feincms_render_region page "header" request %}
	</div>
</div>
<div id="toolbar">
	<div class="container region">
		{% feincms_render_region page "toolbar" request %}
	</div>
</div>
<div id="main">
	<div class="container">
		{% if page.display_options.col1_width > 0 %}
		<div id="left_sidebar" class="span-{{ display_options.col1_width }} sidebar region">
			{% feincms_render_region page "col1" request %}
		</div>
		{% endif %}
		{% if page.pagedisplay_options.col3_width > 0 %}
		<div class="span-{{ display_options.col3_width }} region" id="content">
			{% feincms_render_region page "col3" request %}
		</div>
		{% endif %}
		{% if page.display_options.col2_width > 0 %}
		<div id="right_sidebar" class="span-{{ display_options.col2_width }} sidebar region">
			{% feincms_render_region page "col2" request %}
		</div>
		{% endif %}
	</div>
</div>
<div id="helper">
	<div class="container region">
		{% feincms_render_region page "helper" request %}
	</div>
</div>
<div id="footer">
	<div class="container region">
		{% feincms_render_region page "footer" request %}
	</div>
</div>