{% load i18n %}{% blocktrans %}Hello,{% endblocktrans %} </br>

{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}. Click the link below to reset your password.{% endblocktrans %}</br>

{{ password_reset_url }}</br>

{% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}</br>

{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!
{{ site_domain }}{% endblocktrans %}