{% extends "widget/base.html" %}

{% load i18n %}
{% load feincms_tags %}

{% block content %}
{% for object in widget.get_last_news %}
{% url webcms.module.news.apps.news_archive/webcms_news_entry_detail object.slug as webcms_news_entry_detail %}
<div class="{% cycle 'odd' 'even' %} news_item">
	<div class="object-list ui-helper-clearfix">
		<div class="object-meta">{{ object.published_on|date:"j. m. Y" }}</div>
		<div class="object-text">
			<h3><a href="{{ webcms_news_entry_detail }}">{{ object.title }}</a></h3>
			{% feincms_render_region object "preview" request %}
		</div>
		<div class="object-buttons">
			<a href="{{ webcms_news_entry_detail }}" class="button"><span><span>{% trans "Detail" %}</span></span></a>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
