{% extends "widget/base.html" %}

{% load i18n %}

{% block content %}
<ul class="{% if widget.inline %}horizontal{% else %}vertical{% endif %} ui-helper-clearfix">
	{% if request.user.is_authenticated %}
	{% if request.user.is_staff %}
	{% if request.session.frontend_editing %}
	<li><a class="last" href=".?frontend_editing=0">{% trans "Close admin" %}</a></li>
	{% else %}
	<li><a class="last" href=".?frontend_editing=1">{% trans "Open admin" %}</a></li>
	{% endif %}
	{% endif %}
	{% url webcms.module.store.apps.auth/webcms_store_logout as webcms_store_logout %}
	{% if webcms_store_logout %}
	<li><a class="last" href="{{ webcms_store_logout }}">{% trans "Log Out" %}</a></li>
	{% endif %}
	{% url webcms.module.web.apps.auth/webcms_web_logout as webcms_web_logout %}
	{% if webcms_web_logout %}
	<li><a class="last" href="{{ webcms_web_logout }}">{% trans "Log Out" %}</a></li>
	{% endif %}
	{% else %}
	{% url webcms.module.store.apps.auth/webcms_store_login as webcms_store_login %}
	{% if webcms_store_login %}
	<li><a class="last" href="{{ webcms_store_login }}">{% trans "Log In" %}</a></li>
	{% endif %}
	{% url webcms.module.web.apps.auth/webcms_web_login as webcms_web_login %}
	{% if webcms_web_login %}
	<li><a class="last" href="{{ webcms_web_login }}">{% trans "Log In" %}</a></li>
	{% endif %}

	{% endif %}
</ul>
{% endblock %}
