{% extends "widget/base.html" %}

{% load feincms_page_tags %}

{% block content %}
{% feincms_nav root level=level depth=depth as toplevel %}
<div class="btn-group">
  {% for page in toplevel %}
  <li><a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}{% if p|is_equal_or_parent_of:current %}active{% endif %}" ></a></li>
  <a href="{{ page.get_absolute_url }}" class="btn btn-default" type="button">{{ page.title }}</a>
  {% endfor %}
</div>
{% endwith %}
{% endblock %}