{% extends widget.get_base_template %}

{% load feincms_page_tags %}

{% block content %}
<ul class="sf-menu">
{% with root.level as level %}
{% feincms_navigation of root as toplevel level=level,depth=1 %}
{% for p in toplevel %}
{% if p.active and p.in_navigation %}
{% if p|is_equal_or_parent_of:current %}
<li class="current-cat {% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
	<a class="" href="{{ p|get_url }}">
	{{ p.title }}{% if p.title != p.page_title and p.page_title != p.content_title %}<span>{{ p.page_title }}</span>{% endif %}</a>
	{% if depth > 1 %}
	{% feincms_navigation_extended of p as level level=level2,depth=1 %}
	{% for p2 in level %}
	{% if forloop.first %}<ul>{% endif %}
	<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}">
		<a href="{{ p2|get_url }}">{{ p2.title }}</a>
		{% feincms_navigation_extended of p2 as level2 level=level3,depth=1 %}
		{% for p3 in level2 %}
		{% if forloop.first %}<ul>{% endif %}
		<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}">
			<a href="{{ p3|get_url }}">{{ p3.title }}</a>
		</li>
		{% if forloop.last %}</ul>{% endif %}
		{% endfor %}
	</li>
	{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	{% endif %}
</li>
{% else %}
<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}">
	<a href="{{ p|get_url }}">
		{{ p.title }}{% if p.title != p.page_title and p.page_title != p.content_title %}<span>{{ p.page_title }}</span>{% endif %}
	</a>
	{% if depth > 1 and p.level %}
	{% feincms_navigation_extended of p as level level=lvl2,depth=1 %}
	{% for p2 in level %}
	{% if forloop.first %}<ul>{% endif %}
	<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}">
		<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}" href="{{ p2|get_url }}">{{ p2.title }}</a>
		{% if p2.level %}
		{% feincms_navigation_extended of p2 as level2 level=lvl3,depth=1 %}
		{% for p3 in level2 %}
		{% if forloop.first %}<ul>{% endif %}
		<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}">
			<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}" href="{{ p3|get_url }}">{{ p3.title }}</a>
		</li>
		{% if forloop.last %}</ul>{% endif %}
		{% endfor %}
		{% endif %}
	</li>
	{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	{% endif %}

</li>
{% endif %}
{% endif %}
{% endfor %}
{% endwith %}
</ul>
{% if depth > 1 %}
<script type="text/javascript">
$(document).ready(function() {
	$("#{{ widget.fe_identifier }} .sf-menu").superfish();
});
</script>
{% endif %}
{% endblock %}
