{% extends widget.get_base_template %}
{% load feincms_page_tags %}

{% block content %}
{% feincms_nav root level=level depth=1 as toplevel %}
<div class="collapse navbar-collapse" id="top-nav">
  <ul class="nav navbar-nav{% if widget.align == 'right' %} navbar-right{% endif %}">
  {% if depth == 1 %}
  {% for page in toplevel %}
    <li class="{% if page|is_equal_or_parent_of:current %}active{% endif %}">
      <a class="page-scroll" href="{% if request.path == '/' %}#{{ page.slug }}{% else %}{{ page.get_navigation_url }}{% endif %}">{{ page.title }}</a>
    </li>
  {% endfor %}
  {% else %}
  {% for page in toplevel %}
    {% feincms_nav page level=level2 depth=1 as sublevel %}
    {% if sublevel|length == 0 %}
    <li class="{% if page|is_equal_or_parent_of:current %}active{% endif %}">
      <a class="page-scroll" href="{% if request.path == '/' %}#{{ page.slug }}{% else %}{{ page.get_navigation_url }}{% endif %}">{{ page.title }}</a>
    </li>
    {% else %}
    <li class="dropdown {% if page|is_equal_or_parent_of:current %}active{% endif %}">
      <a class="dropdown-toggle" href="{% if request.path == '/' %}#{{ page.slug }}{% else %}{{ page.get_navigation_url }}{% endif %}">{{ page.title }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
      {% for subpage in sublevel %}
        <li class="{% if subpage|is_equal_or_parent_of:current %}active{% endif %}">
          <a href="{{ subpage.get_navigation_url }}">{{ subpage.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </li>
    {% endif %}
  {% endfor %}
  {% endif %}
  </ul>
</div>

<script type="text/javascript">
// jQuery for page scrolling feature - requires jQuery Easing plugin
$('a.page-scroll').bind('click', function(event) {
    var $anchor = $(this);
    $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href').replace("/", "")).offset().top - 1)
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
});
</script>
{% endblock %}
