{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block content %}
{% if sent %}
<p class="success">{% trans "Your message has been successfuly sent." %}</p>
{% else %}
<form id="{{ widget.fe_identifier }}-form" action="." method="post" class="form">
	{% csrf_token %}
	{% if widget.captcha == 'honeypot' %}
	<div style="display:none;">
		{{ form.name|form_field }}
	</div>
	{% endif %}
	<div class="fieldset">
		{{ form.name|form_field }}
		{{ form.email|form_field }}
		{{ form.phone|form_field }}
		{{ form.content|form_field }}
	</div>
	{% if widget.captcha == 'math' %}
	<div class="fieldset">
		<h3>{% trans "Control question" %}</h3>
		{{ form.name|form_field }}
	</div>
	{% endif %}
	<div class="buttonset">
		<button class="button" type="submit"><span><span>{% trans "Submit" %}</span></span></button>
	</div>
</form>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// webcms_form_init($("#{{ widget.fe_identifier }} form"));
});
</script>
{% endif %}
{% endblock %}
