{% extends "widget/base.html" %}

{% load i18n %}
{% load feincms_tags %}

{% block content %}
<div id="jw_player">
	<p>Click link to get Flash Player or try to enable JavaScript and reload the page.</p>
	<p><a href="http://www.adobe.com/go/getflashplayer">
		<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
	</a></p>
</div>
<script type="text/javascript">
var vars = {
	'file': '{{ widget.source }}',
	'type': 'sound',
	'autostart': 'true'
};

var params = {
	'scale': "exactFit",
	'allowfullscreen': 'false',
	'allowscriptaccess': 'always'
};

var attributes = {
	id: 'player',
	name: 'player'
};

var swf_path = '/static/lib/jwplayer/player.swf';
var swf_install_path = "/static/lib/swfobject/expressinstall.swf";

swfobject.embedSWF(swf_path, "jw_player", '100%', '74', "9.0.0", swf_install_path, vars, params, attributes);
</script>
{% endblock %}
