{% extends "admin/change_form.html" %}

{% load feincms_tags i18n admin_modify %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/static/lib/jquery/1.4/js/alerts.js"></script>
<script type="text/javascript" src="/static/lib/webcms/js/item_editor.js"></script>

{% include "admin/feincms/_messages_js.html" %}
{% include "admin/feincms/_regions_js.html" %}
{% comment %}
{% include "admin/feincms/_content_type_buttons.html" %}
{% endcomment %}

{% for inc in model.feincms_item_editor_includes.head %}
{% include inc %}
{% endfor %}

<script type="text/javascript">
jQuery(document).ready(function($) {
	{% block extra-init-js %}{% endblock %}
});
</script>
{% endblock %}

{% block form_top %}
{% with original.available_translations as translations %}
{% if translations %}
<div style="float: right;padding: 5px 0 0 0" id="available_translations">
	{% trans "available translations" %}:
	{% for translation in translations %}
	<a href="../{{ translation.id }}/" title="{{ translation }}">{{ translation.language|upper }}</a>{% if not forloop.last %},{% endif %}
	{% endfor %}
</div>
<script type="text/javascript">
feincms.jQuery(function($){
	$('#id_language').parent().prepend($('#available_translations'));
});
</script>
{% endif %}
{% endwith %}
{% endblock %}

{% block after_field_sets %}
{{ block.super }}
<div id="tab-page-regions">
	<div id="content-editor-fieldset">
		{% include "admin/feincms/content_editor.html" %}
	</div>
</div>
<script type="text/javascript">
jQuery(function($){
//	$(".machine-control .control-unit").addClass('ui-helper-clearfix');
	$(".ui-tabs-nav a[href$='widget_set']").parent().hide();
	$("h2:contains('{{ FEINCMS_CONTENT_FIELDSET_NAME }}')").parent().replaceWith($("#main_wrapper"));
});
</script>
{% endblock %}
