{% extends "widget/base.html" %}

{% load i18n %}

{% block content %}
<div id="user_info" class="pull-right">

	<ul class="nav navbar-nav {% if widget.inline %}navbar-inline{% else %}navbar-collapse{% endif %}">
		
	  {% if request.user.is_authenticated %}
	    <li><a class="fa fa-user ajax-modal" href="{% url 'horizon:contrib:forms:update' 'user' request.user.id %}">{{ request.user.username }}</a></li>
	    {% if request.user.is_staff and request.frontend_editing %}
	    <!-- Control Sidebar Toggle Button -->
	    <li>
	      <a href="#" data-toggle="control-sidebar"><i class="fa fa-outdent"></i>{% trans 'Settings' %}</a>
	    </li>
	    {% endif %}
	    <li><a href="{% url 'horizon:module:auth:logout' %}">Sign Out</a></li>
	  {% else %}
	    <li><a class="ajax-modal" href="{% url 'horizon:module:auth:login' %}">Sign In</a></li>
	    <li><a class="ajax-modal" href="{% url 'horizon:module:auth:signup' %}">Sign Up</a></li>
	  {% endif %}


	</ul>
</div>
{% endblock %}
