{% extends base_template %}

{% load i18n %}
{% load webcms_tags %}

{% block content %}
<ul class="vertical">
	{% if widget.link == 'text' %}
	<li>
		{% if prev %}
		<a href="{{ prev|get_url }}">{% trans "prev" %}</a>
		{% else %}
		<span>{% trans "prev" %}</span>
		{% endif %}
	</li>
	<li>
		{% if next %}
		<a href="{{ next.get_absolute_url }}">{% trans "next" %}</a>
		{% else %}
		<span>{% trans "next" %}</span>
		{% endif %}
	</li>
	{% else %}
	{% if prev %}
	<li><span>{% trans "prev" %}:</span> <a href="{{ prev|get_url }}">{{ prev.title }}</a></li>
	{% endif %}
	{% if next %}
	<li><span>{% trans "next" %}:</span> <a href="{{ next.get_absolute_url }}">{{ next.title }}</a></li>	
	{% endif %}
	{% endif %}
</ul>
{% endblock %}
