
{% load feincms_tags %}
{% load feincms_page_tags %}


<!DOCTYPE html>
<html lang="en">
  {% block header %}
    {% include "_header.html" %}
    {% feincms_render_region feincms_page "header" request %}
  {% endblock %}

  <body data-spy="scroll" data-offset="0" data-target="#navigation" ng-app='hz'>
    {% block navbar %}
      {% feincms_render_region feincms_page "toolbar" request %}
    {% endblock %}

  {% block content %}
    <div id="container" class="main_container">
      <div id='main_content'>
        {% include "horizon/_messages.html" %}
        <div id='content_body' class="container">
          {% block main %}
            {% feincms_render_region feincms_page "main" request %}
          {% endblock %}
        </div>
      </div>
    </div>
  {% endblock %}

    <div id="footerwrap">
      {% block footer %}
        {% feincms_render_region feincms_page "footer" request %}
      {% endblock %}
    </div>

    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}
    <div id="modal_wrapper"></div>
  </body>
</html>

{% block body_helper %}{% feincms_render_region feincms_page "helper" request %}{% endblock %}

{% block body_preview %}{% feincms_render_region feincms_page "preview" request %}{% endblock %}
