{% extends "widget/base.html" %}

{% load thumbnail %}

{% block content %}
{% if widget.logo %}
<a class="navbar-brand" href="/">
	{% if widget.size %}
	<img src="{% thumbnail widget.logo.file size crop %}" alt="{{ widget.site_title }}" />
	{% else %}
	<img src='/media/files/{{ widget.logo.file }}' alt="{{ widget.site_title }}" />
	{% endif %}
</a>
{% else %}
<a class="navbar-brand" href="/"><b>{{ widget.site_title }}</b></a>
{% endif %}
{% if widget.tagline %}
<span>{{ widget.tagline }}</span>
{% endif %}
{% endblock %}
