{% extends widget.get_base_template %}

{% load i18n thumbnail %}

{% block content %}
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
    <span class="sr-only">{% trans "Toggle navigation" %}</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  {% if widget.logo %}
  {% thumbnail widget.logo.file "200x50" format="PNG" as thumb %}
  <a class="navbar-brand" href="/"><img class="img-responsive" src='{{ thumb.url }}' alt='logo' /></a>
  {% endthumbnail %}
  {% else %}
  <a class="navbar-brand" href="/">{{ widget.site_title }}
    {% if widget.tagline %}
    <span>{{ widget.tagline }}</span>
    {% endif %}
  </a>
  {% endif %}
</div>
{% endblock %}
