{% load i18n thumbnail %}
<a class="thumbnail" data-title="{% if item.translation %}{{ item.translation.default_caption|default:'' }}{% else %}{{ item.default_caption|default:'' }}{% endif %}" data-footer="{% if item.translation %}{{ item.translation.description|default:'' }}{% else %}{{ item.description|default:'' }}{% endif %}" data-toggle="lightbox" href="{{ item.file.url }}" rel="{{ widget.fe_identifier }}" data-gallery="multiimages">
  {% thumbnail item.file widget.thumb_geom crop="center" as thumbnail %}
  <img class="img-responsive" src="{{ thumbnail.url }}" alt="{% if item.translation %}{{ item.translation.default_alt_text }}{% else %}{{ item.default_alt_text|default:'' }}{% endif %}" />
  {% endthumbnail %}
</a>
