{% extends "widget/base.html" %}

{% load webcms_tags %}
{% load thumbnail %}

{% block content %}
<ul class="carousel-gallery" id="{{ widget.fe_identifier }}-gallery">
{% for category_file in widget.category.media.all %}
{% with category_file.file as file %}
	<li>
		{% if file.type == 'image' %}
		{% thumbnail file.file widget.image_geom as image %}
		<a href="{{ image.url }}" rel="{{ widget.fe_identifier }}">
		{% thumbnail file.file widget.thumb_geom as thumbnail %}
		<img src="{{ thumbnail.url }}" alt="" />
		{% endthumbnail %}
		</a>
		{% endthumbnail %}
		{% else %}
		{% endif %}
	</li>
{% endwith %}
{% endfor %}
</ul>
<script type="text/javascript">
$(document).ready(function() {
	$("#{{ widget.fe_identifier }}-gallery").jcarousel();
	$("#{{ widget.fe_identifier }}-gallery a[rel='{{ widget.fe_identifier }}']").colorbox();
});
</script>
{% endblock %}
