{% extends widget.get_base_template %}

{% load thumbnail %}

{% block content %}
<div class="gallery ui-helper-clearfix">
{% for category_file in widget.category.media.all %}
{% with category_file.file as file %}
	{% if file.type == 'image' %}
	{% thumbnail file.file widget.image_geom as image %}
	<a href="{{ image.url }}" rel="{{ widget.fe_identifier }}">
		{% thumbnail file.file widget.thumb_geom as thumbnail %}
		<img src="{{ thumbnail.url }}" alt="" />
		{% endthumbnail %}
	</a>
	{% endthumbnail %}
	{% endif %}
{% endwith %}
{% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("a[rel='{{ widget.fe_identifier }}']").colorbox();
	$("#{{ widget.fe_identifier }} .gallery").cycle();
});
</script>
{% endblock %}
