{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<div class="button-wrapper-outer">
	<div class="button-wrapper">
		<div class="button-wrapper-inner">
			<a href="{% if widget.link %}{{ widget.link.web_address }}{% else %}{{ widget.alt_link|default:"#" }}{% endif %}" class="button {% if widget.size == 'large' %}{% if widget.priority == 'primary' %}button-primary-large{% else %}button-secondary-large{% endif %}{% else %}{% if widget.priority != 'primary' %}button-secondary{% endif %}{% endif %} f-{{ widget.alignment }}"><span><span>{% if widget.text %}{{ widget.text }}{% else %}{% trans "More" %}{% endif %}</span></span></a>
		</div>
	</div>
</div>
{% if widget.on_click == 'open_modal' %}
<script type="text/javascript">
$('#{{ widget.fe_identifier }} a').colorbox({width:"80%", height:"80%", iframe:true});
</script>
{% endif %}

{% endblock %}
