{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block head_title %}
{% trans "Password Change" %}
{% endblock %}

{% block page_title %}
{% trans "Password Change" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Password Change" %}</strong></li>
{% endblock %}

{% block content %}
{% if validlink %}
<form class="form" method="post" action=".">
	{% csrf_token %}
	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
	<div class="fieldset">
		<div class="fieldrow">
			{{ form.new_password1|form_field }}
			{{ form.new_password2|form_field }}
		</div>
	</div>
	<div class="buttonset">
		<p class="required">* {% trans "Required fields" %}</p>
		{% form_button "submit" "Save New Password" %}
	</div>
</form>
{% else %}
<p class="alert">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
{% endif %}
{% endblock %}

{% trans "Save New Password" %}