{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block head_title %}
{% trans "My Account" %} &rsaquo; {% trans "Password Change" %}
{% endblock %}

{% block page_title %}
{% trans "Password Change" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Password Change" %}</strong></li>
{% endblock %}

{% block content %}
<form class="form" action="." method="post">
	{% csrf_token %}
	<p>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</p>
	<div class="fieldset">
		<div class="fieldrow">
			{{ form.old_password|form_field }}
		</div>
		<div class="fieldrow">
			{{ form.new_password1|form_field }}
			{{ form.new_password2|form_field }}
		</div>
	</div>
	<div class="buttonset">
		<p class="required">* {% trans "Required fields" %}</p>
		{% form_button "submit" "Save New Password" %}
	</div>
</form>
{% endblock %}
