{% extends "widget/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load webcms_tags %}

{% block content %}
<div class="object-grid">
	{% for object in widget.get_projects %}
	{% url webcms.module.folio.apps.complete/webcms_folio_project_detail object.category.translation.slug object.translation.slug as link %}
	<div class="span-12{% if forloop.counter|mod:'2' == 0 %} last{% endif %}">
		<div class="folio_item object-list ui-helper-clearfix">
			<div class="object-text">
				<h3><a href="{{ link }}" title="{{ object }}">{{ object }}</a></h3>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}