{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}
{% trans "User permissions" %}
{% endblock %}

{% block content_title %}
<h2>{% trans "User permissions" %}</h2>
{% endblock %}

{% block object-tools %}
<li><a href="{% url webcms_admin:dashboard %}">{% trans "Dashboard" %}</a></li>
{% endblock %}

{% block content %}
<div class="admin-form-tabs">
	<div class="span-6">
		<h3>{% trans "Select page" %}</h3>
		<ul>
			<li><a href="#staff">{% trans "Site staff" %}</a></li>
			<li><a href="#managers">{% trans "Site managers" %}</a></li>
			<li><a href="#groups">{% trans "User groups" %}</a></li>
		</ul>
	</div>

	<div class="span-18">
		<div id="staff">
			<h2>{% trans "Site staff" %}</h2>
			<table>
				<thead>
					<tr>
						<th>{% trans "Username" %}</th>
						<th>{% trans "Permissions" %}</th>
						<th>{% trans "Groups" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for user in staff %}
					<tr class="{% cycle odd,even %}">
						<th>{{ user.username }}</th>
						<td>
							{% for priv in user.user_permissions.all %}
							{{ priv }}<br />
							{% endfor %}
						</td>
						<td>
							{% for group in user.groups.all %}
							{{ group }}<br />
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="managers">
			<h2>{% trans "Site managers" %}</h2>
			<table>
				<thead>
					<tr>
						<th>{% trans "Username" %}</th>
						<th>{% trans "Permissions" %}</th>
						<th>{% trans "Groups" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for user in managers %}
					<tr class="{% cycle odd,even %}">
						<th>{{ user.username }}</th>
						<td>{% trans "All" %}</td>
						<td>
							{% for group in user.groups.all %}
							{{ group }}<br />
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="groups">
			<h2>{% trans "User groups" %}</h2>
			<table>
				<thead>
					<tr>
						<th>{% trans "Name" %}</th>
						<th>{% trans "Permissions" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for group in groups %}
					<tr class="{% cycle odd,even %}">
						<th>{{ group.name }}</th>
						<td>
							{% for perm in group.permissions.all %}
							{{ perm }}<br />
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.admin-form-tabs').tabs();
});
</script>
{% endblock %}
