{% load i18n %}
{% load webcms_form_tags %}

<form class="form" method="post" action="{{ request.path }}">
	<div class="tabs">
		<ul> 
			<li><a href="#widget-basic">{% trans "Basic properties" %}</a></li> 
			<li><a href="#widget-titles">{% trans "Titles" %}</a></li>
			<li><a href="#widget-publish">{% trans "Publishing" %}</a></li> 
			<li><a href="#widget-navigation">{% trans "Navigation" %}</a></li>
			<li><a href="#widget-seo">{% trans "SEO" %}</a></li>
			<li><a href="#widget-design">{% trans "Design" %}</a></li>
		</ul>
		<div id="widget-basic">
			<div class="fieldset">
				<h3>{% trans "Basic properties" %}</h3>
				{{ form.title|form_field }}
			</div>
			<div class="fieldset">
				<h3>{% trans "Languages" %}</h3>
				<div class="fieldrow">
					{{ form.language|form_field }}
					{{ form.translation_of|form_field }}
				</div>
			</div>
		</div>
		<div id="widget-publish">
			<div class="fieldset">
				{{ form.active|form_field }}
				{{ form.publication_date|form_field }}
				{{ form.publication_end_date|form_field }}
			</div>
		</div>
		<div id="widget-navigation">
			<div class="fieldset">
				<div class="fieldrow">
					{{ form.in_navigation|form_field }}
					{{ form.parent|form_field }}
				</div>
				<div class="fieldrow">
					{{ form.slug|form_field }}
					{{ form.redirect_to|form_field }}
				</div>
			</div>
			<div class="fieldset">
				<div class="fieldrow">
					{{ form.override_url|form_field }}
					{{ form.navigation_extension|form_field }}
				</div>
			</div>
		</div>
		<div id="widget-titles">
			<div class="fieldset">
				{% for field in form %}
				{% if field.auto_id == "id__page_title" or field.auto_id == "id__content_title" %}
				{{ field|form_field }}
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div id="widget-seo">
			<div class="fieldset">
				{{ form.meta_keywords|form_field }}
				{{ form.meta_description|form_field }}
			</div>
		</div>
		<div id="widget-design">
			<div class="fieldset">
				<h3>{% trans "Page Structure" %}</h3>
				<div id="field_id_template_key" class="field ui-helper-clearfix">
					<label>{% trans "Page layout" %}: <strong id="current_layout"></strong></label>
					<div id="select_layout" class="ui-helper-clearfix">
						<input id="layout_flex" {% if form.instance.template_key == 'layout_flex' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_flex" />
						<label for="layout_flex" title="{% trans "1 column" %}">
							<div class="layout-box"><div class="span-24"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_fixed_flex" {% if form.instance.template_key == 'layout_fixed_flex' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_fixed_flex" />
						<label for="layout_fixed_flex" title="{% trans "2 columns" %}, {% trans "sidebar on left" %}">
							<div class="layout-box"><div class="span-8"><div>&nbsp;</div></div><div class="span-16 last"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_flex_fixed" {% if form.instance.template_key == 'layout_flex_fixed' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_flex_fixed" />
						<label for="layout_flex_fixed" title="{% trans "2 columns" %}, {% trans "sidebar on right" %}">
							<div class="layout-box"><div class="span-16"><div>&nbsp;</div></div><div class="span-8 last"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_flex_flex" {% if form.instance.template_key == 'layout_flex_flex' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_flex_flex" />
						<label for="layout_flex_flex" title="{% trans "2 same columns" %}">
							<div class="layout-box"><div class="span-12"><div>&nbsp;</div></div><div class="span-12 last"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_fixed_flex_fixed" {% if form.instance.template_key == 'layout_fixed_flex_fixed' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_fixed_flex_fixed" />
						<label for="layout_fixed_flex_fixed" title="{% trans "3 columns" %}">
							<div class="layout-box"><div class="span-6"><div>&nbsp;</div></div><div class="span-12"><div>&nbsp;</div></div><div class="span-6 last"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_flex_flex_flex" {% if form.instance.template_key == 'layout_flex_flex_flex' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_flex_flex_flex" />
						<label for="layout_flex_flex_flex" title="{% trans "3 same columns" %}">
							<div class="layout-box"><div class="span-8"><div>&nbsp;</div></div><div class="span-8"><div>&nbsp;</div></div><div class="span-8 last"><div>&nbsp;</div></div></div>
						</label>

						<input id="layout_void" {% if form.instance.template_key == 'layout_void' %}checked="checked"{% endif %} type="radio" name="template_key_radio" value="layout_void" />
						<label id ="layout_void_box" for="layout_void" title="{% trans "Void"%}">
							<div class="layout-box"><div class="span-8"><div>&nbsp;</div></div><div class="span-8"><div>&nbsp;</div></div><div class="span-8 last"><div>&nbsp;</div></div></div>
						</label>
					</div>
				</div>
				<div class="field ui-helper-clearfix">
					<label>{% trans "Column settings" %}: <strong id="current_colums"></strong></label>
					<div id="column-range-box">
						<div id="column-range"></div>
					</div>
				</div>
			</div>
			<div class="fieldset">
				<h3>{% trans "Page Theme" %}</h3>
				<div style="display:none;">
					{{ form.template_key }}
					{{ options_form.col1_width }}
					{{ options_form.col2_width }}
					{{ options_form.col3_width }}
					{{ options_form.col4_width }}
				</div>
				<div class="fieldrow">
					{{ options_form.template|form_field }}
					{{ options_form.theme|form_field }}
				</div>
			</div>
		</div>
	</div>
</form>
