{% load i18n %}
{% load webcms_form_tags %}
<form class="form" method="post" action="{{ request.path }}" id="node_{{ form.instance.id }}">
	{% csrf_token %}
	<div class="fieldset">
		<h3>{% trans "Manage page" %} "{{ page }}"</h3>
	</div>
	<div class="tabs">
		<ul> 
			<li><a href="#page-text">{% trans "Basic" %}</a></li> 
			<li><a href="#page-nav">{% trans "Navigation" %}</a></li>
			<li><a href="#page-layout">{% trans "Layout" %}</a></li> 
			<li><a href="#page-widgets">{% trans "Widgets" %}</a></li> 
		</ul>
		<div id="page-text">
			<div class="fieldset fieldset-inline">
				{{ form.active|form_field }}
				{{ form.title|form_field }}
			</div>
		</div>
		<div id="page-nav">
			<div class="fieldset fieldset-inline">
				{{ form.slug|form_field }}
				{{ form.in_navigation|form_field }}
			</div>
		</div>
		<div id="page-layout">
			<div class="fieldset fieldset-inline">
				{{ form.template_key|form_field }}
			</div>
		</div>
		<div id="page-widgets">
			
		</div>
	</div>
	<div class="buttonset">
		<button id="structure_node_delete" type="button">{% trans "Remove" %}</button>
		<button id="structure_node_show" type="button">{% trans "Show" %}</button>
		<button id="structure_node_save" type="submit">{% trans "Save" %}</button>
	</div>
</form>
