{% extends "widget/base.html" %}

{% load feincms_page_tags %}
{% load webcms_tags %}

{% block content %}

{% feincms_navigation_extended of root as toplevel level=lvl,depth=1 %}

{% for p in toplevel %}
{% if forloop.first %}<ul class="{{ widget.orientation }} ui-helper-clearfix">{% endif %}
<li class="{% if forloop.last %}last {% endif %}{% if forloop.first %}first {% endif %}{% if p|is_equal_or_parent_of:current %}{% if p == current %}active{% else %}subactive{% endif %}{% endif %}">
{% if p == current %}
	<strong>{{ p.title }}</strong>
{% else %}
	<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}" href="{{ p|get_url }}">{{ p.title }}</a>
{% endif %}

{% if depth > 1  and widget.orientation == 'vertical' %}
{% if p|is_equal_or_parent_of:current %}

{% feincms_navigation_extended of p as level level=lvl2,depth=1 %}

{% for p2 in level %}
	{% if forloop.first %}<ul>{% endif %}
	<li>
	{% if p2.id == current.id %}
		<strong>{{ p2.title }}</strong>
	{% else %}
		<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last{% endif %}" href="{{ p2|get_url }}">{{ p2.title }}</a>
	{% endif %}

	{% feincms_navigation_extended of p2 as level2 level=lvl3,depth=1 %}

	{% for p3 in level2 %}
		{% if forloop.first %}<ul>{% endif %}
		<li>
		{% if p3.id == current.id %}
		<strong>{{ p3.title }}</strong>
		{% else %}
		<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last{% endif %}" href="{{ p3|get_url }}">{{ p3.title }}</a>
		{% endif %}

		{% if p3|is_equal_or_parent_of:current %}

		{% feincms_navigation_extended of p3 as level3 level=lvl4,depth=1 %}

		{% for p4 in level3 %}
			{% if forloop.first %}<ul>{% endif %}
			<li>
			{% if p4.id == current.id %}
			<strong>{{ p4.title }}</strong>
			{% else %}
			<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last{% endif %}" href="{{ p4|get_url }}">{{ p4.title }}</a>

			{% endif %}

			{% if p4|is_equal_or_parent_of:current %}

			{% feincms_navigation_extended of p4 as level4 level=lvl5,depth=1 %}

			{% for p5 in level4 %}
				{% if forloop.first %}<ul>{% endif %}
				<li>
				{% if p5.id == current.id %}
				<strong>{{ p5.title }}</strong>
				{% else %}
				<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last{% endif %}" href="{{ p5|get_url }}">{{ p5.title }}</a>
				{% endif %}
				</li>
				{% if forloop.last %}</ul>{% endif %}
			{% endfor %}

			{% endif %}

			</li>
			{% if forloop.last %}</ul>{% endif %}
		{% endfor %}

		{% endif %}
		</li>
		{% if forloop.last %}</ul>{% endif %}
	{% endfor %}
	</li>
	{% if forloop.last %}</ul>{% endif %}
{% endfor %}
{% endif %}
{% endif %}

</li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

{% if depth > 1  and widget.orientation == 'horizontal' %}

{% feincms_navigation_extended of root as toplevel level=lvl,depth=1 %}

{% for p in toplevel %}
{% if p|is_equal_or_parent_of:current %}

{% feincms_navigation_extended of p as level level=lvl2,depth=1 %}

{% for p2 in level %}
{% if forloop.first %}<ul class="horizontal ui-helper-clearfix">{% endif %}
<li>
{% if p2.id == current.id %}
	<strong>{{ p2.title }}</strong>
{% else %}
	<a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}" href="{{ p2|get_url }}">{{ p2.title }}</a>
{% endif %}
</li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

{% endif %}
{% endfor %}

{% endif %}

{% endblock %}
