
// LEONARDO VARIABLES

$leonardo-font-size-base:          	  16px;
$leonardo-line-height-base:        	  1.428571429;

$leonardo-sortable-helper-background:	  #fff;
$leonardo-cursor-disabled:                not-allowed;

// Color variables

$leonardo-primary: 			  rgb(21, 140, 186);
$leonardo-info: 			  rgb(117, 202, 235);
$leonardo-warning: 			  rgb(255, 133, 27);
$leonardo-success: 			  rgb(40, 182, 44);
$leonardo-danger: 			  rgb(255, 65, 54);

$leonardo-btn-default-color:              #333;
$leonardo-btn-default-bg:                 #fff;
$leonardo-btn-default-hover-bg:           #ccc;
$leonardo-btn-default-border:             #ccc;

$leonardo-btn-primary-color:              #666;
$leonardo-btn-primary-bg:                 #fff;
$leonardo-btn-primary-hover-bg:           lighten($leonardo-primary, 20);
$leonardo-btn-primary-border:             #666;

$leonardo-btn-success-color:              #666;
$leonardo-btn-success-bg:                 #fff;
$leonardo-btn-success-hover-bg:           lighten($leonardo-success, 20);
$leonardo-btn-success-border:             #666;

$leonardo-btn-info-color:                 #666;
$leonardo-btn-info-bg:                    #fff;
$leonardo-btn-info-hover-bg:              lighten($leonardo-info, 20);
$leonardo-btn-info-border:                #666;

$leonardo-btn-warning-color:              #666;
$leonardo-btn-warning-bg:                 #fff;
$leonardo-btn-warning-hover-bg:           lighten($leonardo-warning, 20);
$leonardo-btn-warning-border:             #666;

$leonardo-btn-danger-color:               #666;
$leonardo-btn-danger-bg:                  #fff;
$leonardo-btn-danger-hover-bg:            lighten($leonardo-danger, 20);
$leonardo-btn-danger-border:              #666;

// Button variables

$leonardo-btn-font-weight:                normal;
$leonardo-padding-base-vertical:     	  6px;
$leonardo-padding-base-horizontal:   	  12px;
$leonardo-btn-border-radius-base:	  0px;

// Mixins

@mixin leonardo-button-variant($color, $background, $hover-background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border !important;

  .fa:before {
    color: $color !important;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $hover-background;
  }
  &:hover {
    color: $color;
    background-color: $hover-background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $hover-background;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $hover-background;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Custom button variants

.leonardo-btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $leonardo-btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: nowrap;
  @include button-size($leonardo-padding-base-vertical, $leonardo-padding-base-horizontal, $leonardo-font-size-base, $leonardo-line-height-base, $leonardo-btn-border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $leonardo-btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $leonardo-cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

}

a.leonardo-btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.leonardo-btn-default {
  @include leonardo-button-variant($leonardo-btn-default-color, $leonardo-btn-default-bg, $leonardo-btn-default-hover-bg, $leonardo-btn-default-border);
}

.leonardo-btn-primary {
  @include leonardo-button-variant($leonardo-btn-primary-color, $leonardo-btn-primary-bg, $leonardo-btn-primary-hover-bg, $leonardo-btn-primary-border);
}

.leonardo-btn-success {
  @include leonardo-button-variant($leonardo-btn-success-color, $leonardo-btn-success-bg, $leonardo-btn-success-hover-bg, $leonardo-btn-success-border);
}

.leonardo-btn-info {
  @include leonardo-button-variant($leonardo-btn-info-color, $leonardo-btn-info-bg, $leonardo-btn-info-hover-bg, $leonardo-btn-info-border);
}

.leonardo-btn-warning {
  @include leonardo-button-variant($leonardo-btn-warning-color, $leonardo-btn-warning-bg, $leonardo-btn-warning-hover-bg, $leonardo-btn-warning-border);
}

.leonardo-btn-danger {
  @include leonardo-button-variant($leonardo-btn-danger-color, $leonardo-btn-danger-bg, $leonardo-btn-danger-hover-bg, $leonardo-btn-danger-border);
}

// General

body.frontend-editing {
  .leonardo-widget:hover,
  .leonardo-widget:focus,
  .leonardo-widget:active, {
    outline: 2px dashed $leonardo-success;
    outline-offset: 2px;
    .widget-tools {
      display: initial;
      ~ div .widget-tools {
        display: none;
      }
    }
    .leonardo-widget:hover,
    .leonardo-widget:focus,
    .leonardo-widget:active {
      outline-color: $leonardo-primary;
      .widget-tools {
        display: initial;
        left: 0px;
        right: initial;
      }
    }
  }
  #edit-position + .dropdown-menu {
    right: 0px;
    left: initial;
  }
}

.widget-tools {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  z-index: 1040;
  .leonardo-widget-dnd-handle {
    margin-left: 1px;
    padding: 8px 12px 5px 12px;
    width: 44px;
    height: 44px;
    > .fa {
      vertical-align: middle;
    }
  }
  > .btn-group { 
    border: 2px solid #666;
    .leonardo-btn {
      padding: 8px 12px 5px 12px;
      width: 40px;
      height: 40px;
      border: none;
      > .fa {
        vertical-align: middle;
        &.fa-exchange {
          margin-top: -4px;
        }
        &.fa-pencil-square-o {
          margin-left: 1px;
        }
      }
      &:not(:first-child) {
        margin-left: -4px;
      }
    }
  }
}

.ui-sortable-placeholder {
    min-height: 20px;
    outline: 2px dashed $leonardo-warning;
    outline-offset: 5px;
    visibility: visible !important;
    background: lighten($brand-warning, 30);
}

.ui-sortable-helper.fe_dragging {
  background: $leonardo-sortable-helper-background;
  .widget-tools .btn-group {
    display: none;
  }
}

.region-tools {
  float: right;
  width: 100%;
  > a {
    width: 100%;
  }
}

// TODO: Use Naira button effect on Region tools

.button--naira {
	padding: 0;
	overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.button--naira::before {
	content: '';
	position: absolute;
	left: -50%;
	width: 200%;
	height: 200%;
	background: #37474f;
	top: -50%;
	z-index: -1;
	-webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
	transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}
.button--naira.button--inverted::before {
	background: #7986cb;
}
.button--naira-up::before {
	-webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
	transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}
.button--naira > span {
	display: block;
}
.button--naira .button__icon {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	color: #fff;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button--naira-up .button__icon {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--naira > span,
.button--naira .button__icon {
	padding: 1em 2em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--naira:hover::before {
	-webkit-animation: anim-naira-1 0.3s forwards ease-in;
	animation: anim-naira-1 0.3s forwards ease-in;
}
.button--naira-up:hover::before {
	-webkit-animation: anim-naira-2 0.3s forwards ease-in;
	animation: anim-naira-2 0.3s forwards ease-in;
}
@-webkit-keyframes anim-naira-1 {
	50% {
		-webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}
@keyframes anim-naira-1 {
	50% {
		-webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}
@-webkit-keyframes anim-naira-2 {
	50% {
		-webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
		transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}
@keyframes anim-naira-2 {
	50% {
		-webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
		transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}
.button--naira:hover {
	background-color: #37474f;
	-webkit-transition: background-color 0s 0.3s;
	transition: background-color 0s 0.3s;
}
.button--naira.button--inverted:hover {
	background-color: #7986cb;
}
.button--naira:hover .button__icon {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--naira:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--naira-up:hover > span {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

