.points-nav {
	color: $gray-lighter;
	font-size: 15px;
	position: fixed;
	overflow: hidden;
	text-align: center;
	z-index: 500;
	background: transparent;
	line-height: 40px;
	right: 30px;
	bottom: 20%;
	border-radius: 4px;
	ul li {
		transition: all 0.5s ease;
		line-height: 30px;
	}
	.nav-pills > li {
		&.active > a {
			background-color: transparent;
    		color: $brand-primary;
    		transition: all 0.4s ease;
    	}
    	a:hover, a:focus {
    		background-color: transparent;
    		color: $brand-primary;
    	}
    	a:active {
    		color: $gray-lighter;
    	}
	}
}
