{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_tags %}

{% block content %}
{% with widget.get_song as song %}
<div id="scroller-container" style="overflow: hidden;">
	<div id="scroller" style="overflow: hidden;">
		<h3>{% if song.author %}{{ song.author }} - {% endif %}{{ song.title|default:"[ Title of Now Playing Song ]" }}</h3>
	</div>
</div>
<h4>{{ song.album }}</h4>
<div class="object-buttons">
	<a href="/en/program/" class="button"><span><span>{% trans "Program" %}</span></span></span></a>
</div>
{% endwith %}
{% endblock %}
