{% extends "admin/base_site.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block title %}{% trans "Upload files to folder" %} {{ folder }}{% endblock %}

{% block object-tools %}
<li><a href="{% url webcms_admin:media_file_changelist %}">{% trans "Media files" %}</a></li>
<li><a href="{% url webcms_admin:dashboard %}">{% trans "Project dashboard" %}</a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Upload files to folder" %} {% if folder.folder %}{{ folder.folder }}/{% endif %}{{ folder }}</h2>
{% endblock %}

{% block content %}
{% comment %}
<form method="post" action="{% url webcms_media_upload_files_process folder.id %}" enctype="multipart/form-data" class="form">
	{% csrf_token %}
	{{ form.file }}
	<button type="submit">Go</button>
</form>
{% endcomment %}
<div id="file_upload"></div>

<link rel="stylesheet" type="text/css" href="/static/lib/uploadify/3.2/css/uploadify.css"></link>
<script type="text/javascript" src="/static/lib/uploadify/3.2/js/jquery.uploadify.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#file_upload').uploadify({
        'swf'        : '/static/lib/uploadify/3.2/swf/uploadify.swf',
        'uploader'   : '{% url webcms_media_upload_files_process folder.id %}',
		'buttonText' : '{% trans "Select files to upload..." %}',
        'formData'   : {
        	'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        'fileObjName': 'file',
        'multi'		 : true,
        'height'     : 30,
        'width'      : 180
    });
});
</script> 
{% endblock %}
