{% extends "widget/base.html" %}

{% load i18n %}
{% load feincms_tags %}
{% load pagination_tags %}

{% block content %}
{% autopaginate object_list 10 as paginated_object_list %}
{% for object in paginated_object_list %}
<div class="{% cycle 'odd' 'even' %} news_item">
	<div class="object-list ui-helper-clearfix">
		<div class="object-meta">{{ object.published_on|date:"j. m. Y" }}</div>
		<h3><a href="./{{ object.get_url }}/">{{ object.title }}</a></h3>
		{% feincms_render_region object "preview" request %}
		<div class="object-buttons">
			<a href="./{{ object.get_url }}" class="button button_secondary"><span><span>{% trans "More" %}</span></span></a>
		</div>
	</div>
</div>
{% endfor %}
<div class="pager">
{% paginate %}
</div>
{% endblock %}
