{% load i18n %}

<div class="dj-pane dj-widget-search ui-widget ui-widget-content ui-corner-all ui-helper-reset">
	<div class="dj-pane-header ui-widget-header ui-corner-all ui-helper-clearfix">
		<span class="dj-pane-header-title ui-helper-reset">{% trans "Popular Tags" %}</span>
	</div>
	<div class="dj-pane-content">

	</div>
	<div class="dj-pane-buttons ui-widget-content ui-helper-clearfix">
		<a class="fg-button ui-state-default ui-priority-secondary ui-corner-all" href="/">{% trans "View all tags" %}</a>
	</div>
</div>
