{% extends widget.get_base_template %}

{% load i18n staticfiles %}
{% load leonardo_tags %}

{% block content %}
  {% load i18n %}
{% load leonardo_tags %}
<style type="text/css">
  .ac-results {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    background-color: white;
  }
</style>

 <form action="{% app_reverse 'haystack_search' 'leonardo.module.search.apps.search' %}" method="get" class="navbar-collapse collapse navbar-form navbar-left autocomplete-me" role="search">
  <div>
      <div class="input-group">
        <input type="text" placeholder="{% trans "Search" %}" class="form-control" name="q" placeholder="Search">
        <span class="input-group-btn">
          <button id='search-button' class="btn btn-default" type="submit"><i class=" fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
  </div>
</form>

<script type="text/javascript">
leonardo.utils.loadResource({src:"{% static 'leonardo/js/searchautocomplete.js' %}",callback: function(){
  window.autocomplete = new Autocomplete({
    form_selector: '.autocomplete-me',
    url: "{% app_reverse 'autocomplete_search' 'leonardo.module.search.apps.search' %}"
  })
  window.autocomplete.setup()  
}});

</script>
{% endblock %}
