{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_tags %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>IP</th>
			<th>Latitude<br />Y coords</th>
			<th>Longitude<br />X coords</th>
			<th>Connected (s)</th>
		</tr>
	</thead>
	<tbody>
		{% for point in data %}
		<tr>
			<td>{{ point.ip }}</td>
			<td>{{point.lat }}<br />{{ point.axis_y }}</td>
			<td>{{point.long }}<br />{{ point.axis_x }}</td>
			<td>{{ point.connected }}</td>
		</tr
		{% endfor %}
	</tbody>
</table>
{% endblock %}
