{% extends "admin/change_list.html" %}

{% load i18n %}

{% block object-tools %}
{% if has_add_permission %}
<li><a href="{% url webcms_media_create_folder %}">{% trans "Add folder" %}</a></li>
<li><a href="{% url webcms_media_scan_files %}">{% trans "Scan media" %}</a></li>
{% endif %}
<li><a href="{% url webcms_admin:dashboard %}">{% trans "Project dashboard" %}</a></li>
{% endblock %}

{% block buttons %}
<form method="post" enctype="multipart/form-data" action="{% url webcms_admin:file_upload_process %}">
	{% csrf_token %}
	<div style="float:right;">
		<label style="display:inline;" for="data">{% trans "Bulk upload a ZIP file" %}
			<input type="file" name="file" />
		</label>
		<select name="folder">
			<option value="">---</option>
			{% for folder in folders %}
				<option value="{{ folder.id }}">{{ folder }}</option>
			{% endfor %}
		</select>
		<button type="submit">{% trans "Send" %}</button>
	</div>
</form>
{% endblock %}
