{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}pozadavek_na_oceneni{% endblock %}
{% block form_action %}{% url "horizon:module:auth:login" %}{% endblock %}

{% block modal-body %}
<div class="left">
  {% include "horizon/common/_form_fields.html" %}
</div>
{% endblock %}

{% block modal-footer %}
<a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</a>
<input class="btn btn-primary pull-right" type="submit" value="{% trans "Login" %}" />
{% endblock %}

{% block modal-js %}
{% endblock %}