<head>

<meta charset="utf-8">
<meta name="description" content="Robotice">
<title>Robotice</title>

{% block css %}
  {% include "_stylesheets.html" %}
{% endblock %}
{% include "horizon/_conf.html" %}
{% include "horizon/client_side/_script_loader.html" %}
{% include "horizon/_custom_head_js.html" %}
{% include "_custom_head_js.html" %}

{% if request.user.is_authenticated and request.user.is_staff and request.frontend_editing %}
<script src="{{ STATIC_URL }}dashboard/js/inline_edit.js"></script>
<script src="{{ STATIC_URL }}dashboard/js/app.js"></script>
{% else %}

{% endif %} 

{% comment %}

<script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/smoothscroll.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endcomment %}


</head>