
{% load compress django_select2_tags %}

<head>

<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
<meta name="description" content="Leonardo">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ request.leonardo_options.meta_title }}</title>

{% include "base/head_meta.html" %}

{% block css %}
  {% include "_stylesheets.html" %}
{% endblock %}

{% import_django_select2_js_css %}

{% block css_extra %}
{% endblock %}

{% compress css %}
{% for file in HORIZON_CONFIG.css_files %}
    <link href="{{ STATIC_URL }}{{ file }}" type="text/css" media="screen" rel="stylesheet" />
{% endfor %}
{% endcompress %}

{% block page_css %}
{% compress css %}
<style type="text/css" media='screen'>
{{ request.leonardo_page.theme.style|safe }}
</style>
{% endcompress %}

<style type="text/css" media='screen'>
{{ request.leonardo_page.color_scheme.style|safe }}
</style>

{% endblock %}

{% block widget_css %}
<style type="text/css" media='screen'>
{% compress css %}
{% for widget in request.leonardo_options.widgets %}
	{{ widget.theme.style|safe }}
{% endfor %}
{% endcompress %}
</style>
{% endblock %}

{% include "horizon/_conf.html" %}
{% include "horizon/client_side/_script_loader.html" %}
{% include "horizon/_custom_head_js.html" %}
{% include "_custom_head_js.html" %}

<link rel="shortcut icon" href="/favicon.ico" />

{% comment %}

{% if request.user.is_authenticated %}
<script src="{{ STATIC_URL }}dashboard/js/app.js"></script>
{% endif %} 

<script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/smoothscroll.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endcomment %}
</head>

{% if request.user.is_staff and request.frontend_editing %}
  {% include "leonardo/common/_frontend_edit_sidebar.html" %}
{% endif %}