
{% load compress %}

{% compress css %}
<link href="{{ STATIC_URL }}leonardo/css/bootstrap.css" rel="stylesheet">
<link href='{{ STATIC_URL }}leonardo/scss/leonardo.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}horizon/lib/bootstrap_datepicker/datepicker3.css' type='text/css' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_charts.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_workflow.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href="{{ STATIC_URL }}horizon/lib/font-awesome/scss/font-awesome.scss" type="text/scss" media="screen" rel="stylesheet" />


<link href="{{ STATIC_URL }}redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet">
{% endcompress %}

<link rel="shortcut icon" href="{{ STATIC_URL }}leonardo/img/favicon.ico"/>
<style type="text/css">
@media screen and (min-width: 768px) {
  .modal-dialog {
    left: 0%!important;
  }
}
</style>
<style type="text/css">

.col-md-0 { 
  display: none;
}

.row-sm-1, .row-md-1 { height: 60px; }
.row-sm-2, .row-md-2 { height: 120px; }
.row-sm-3, .row-md-3 { height: 180px; }
.row-sm-4, .row-md-4 { height: 240px; }
.row-sm-5, .row-md-5 { height: 300px; }
.row-sm-6, .row-md-6 { height: 360px; }
.row-sm-7, .row-md-7 { height: 420px; }
.row-sm-8, .row-md-8 { height: 480px; }

.region-tools {
  padding: 5px 0;
}

.widget-tools {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index:900;
}

.col1, .col2, .col3 {
  padding-left:0!important;
  padding-right:0!important;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

</style>
