
{% load compress %}

{% compress css %}
<link href='{{ STATIC_URL }}leonardo/scss/leonardo.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_charts.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_workflow.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href="{{ STATIC_URL }}horizon/lib/font-awesome/scss/font-awesome.scss" type="text/scss" media="screen" rel="stylesheet" />


<link href="{{ STATIC_URL }}redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet">
{% endcompress %}

<link rel="shortcut icon" href="{{ STATIC_URL }}leonardo/img/favicon.ico"/>
{% compress css %}
<style type="text/css">

@media screen and (min-width: 768px) {
  .modal-dialog {
    left: 0%!important;
  }
  .row-md-1 > div { height: 60px; }
  .row-md-2 > div { height: 120px; }
  .row-md-3 > div { height: 180px; }
  .row-md-4 > div { height: 240px; }
  .row-md-5 > div { height: 300px; }
  .row-md-6 > div { height: 360px; }
  .row-md-7 > div { height: 420px; }
  .row-md-8 > div { height: 480px; }
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    left: 0%!important;
  }
  .row-sm-1 > div { height: 60px; }
  .row-sm-2 > div { height: 120px; }
  .row-sm-3 > div { height: 180px; }
  .row-sm-4 > div { height: 240px; }
  .row-sm-5 > div { height: 300px; }
  .row-sm-6 > div { height: 360px; }
  .row-sm-7 > div { height: 420px; }
  .row-sm-8 > div { height: 480px; }
}


.col-md-0 { 
  display: none;
}

.no-gutter > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.region-tools {
  padding: 5px 0;
}

.widget-tools {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index:400;
}

.leonardo-widget .leonardo-widget .widget-tools {
  right: 15px;
  z-index:401;
}

.leonardo-widget .leonardo-widget .leonardo-widget .widget-tools {
  right: 25px;
  z-index:402;
}

.col1, .col2, .col3 {
  padding-left:0!important;
  padding-right:0!important;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.nav-tabs {
  margin-bottom: 15px!important;
}
</style>
{% endcompress %}
