
<link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
<link href='{{ STATIC_URL }}dashboard/scss/horizon.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}horizon/lib/bootstrap_datepicker/datepicker3.css' type='text/css' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_charts.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href='{{ STATIC_URL }}dashboard/scss/horizon_workflow.scss' type='text/scss' media='screen' rel='stylesheet' />
<link href="{{ STATIC_URL }}horizon/lib/font-awesome/scss/font-awesome.scss" type="text/scss" media="screen" rel="stylesheet" />

<link shref="{{ STATIC_URL }}horizon/main.css" rel="stylesheet">

<link href='{{ STATIC_URL }}lib/AdminLTE.css' type='text/css' media='screen' rel='stylesheet' />
<link href="{{ STATIC_URL }}lib/skins/_all-skins.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}lib/skins/skin-blue.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>


