
<!DOCTYPE html>
{% load leonardo_tags feincms_page_tags applicationcontent_tags branding i18n %}
{% load analytical %}

<html>
  <head>
    {% analytical_head_top %}
    {% include "_header.html" %}
    {% analytical_head_bottom %}
  </head>
  <body id="{% block body_id %}main_content{% endblock %}" ng-app='hz' class="skin-blue">
    {% analytical_body_top %}
    {% include "horizon/_messages.html" %}
    {% block body %}{% endblock %}
    {% block body_main %}{% endblock %}
    {% include "leonardo/_footer.html" %}
    {% analytical_body_bottom %}
  </body>
</html>
