
<!DOCTYPE html>
{% load leonardo_tags feincms_page_tags applicationcontent_tags branding i18n %}

<html>
  <head>
    {% include "_header.html" %}
  </head>
  <body id="{% block body_id %}main_content{% endblock %}" ng-app='horizon.app' ng-strict-di>
    {% include "horizon/_messages.html" %}
    <noscript>
      <div class="javascript_disabled_alert">
        {% trans "This application requires JavaScript to be enabled in your web browser." %}
      </div>
    </noscript>
    {% block body %}{% endblock %}
    {% block body_main %}{% endblock %}
    {% include "leonardo/_footer.html" %}
  </body>
</html>
