{% extends "widget/base.html" %}

{% load i18n %}
{% load comments %}
{% load webcms_form_tags %}

{% block content %}
{% get_comment_list for widget.parent as object_list %}
<ul>
	{% for object in object_list reversed %}
	<li>
		<span class="submit-user">{{ object.user_name }}</span>: {{ object.comment }}
		<span class="submit-date">{{ object.submit_date|timesince }}</span>
	</li>
	{% endfor %}
</ul>
{% if widget.enabled %}
<form id="{{ widget.fe_identifier }}-form" action="{% comment_form_target %}" method="post" class="form">
	{% csrf_token %}
	<div class="buttonset">
		{% if request.user.is_authenticated %}
		{% for field in form %}
		{{ field }}
		{% endfor %}
		<input type="hidden" name="next" value="{{ request.path_info }}" />
		<button type="submit" name="post" class="button"><span><span>{% trans 'Post' %}</span></span></button>
		{% endif %}
	</div>
</form>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// webcms_form_init($("#{{ widget.fe_identifier }} form"));
});
</script>
{% endif %}
{% endblock %}
