{% extends "widget/base.html" %}

{% load i18n %}

{% block page_title %}
{% trans "Password reset e-mail sent" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Password reset e-mail sent" %}</strong></li>
{% endblock %}

{% block content %}
<p class="info">{% trans "We've e-mailed a link to retrieve your new password to the e-mail address you submitted." %}</p>
<div class="buttonset">
	<a class="link" href="{% url webcms.module.store.apps.auth/webcms_store_login %}">{% trans "Log In" %} &raquo;</a>
</div>
{% endblock %}
