{% load i18n %}
{% load webcms_form_tags %}

<form class="tabs" method="post" action="{{ request.path }}"> 
	<ul> 
		<li><a href="#widget-edit-properties">{% trans "Widget Options" %}</a></li>
		<li><a href="#widget-edit-miscellaneous">{% trans "Content Options" %}</a></li>
		<li><a href="#widget-edit-boxmodel">{% trans "Box Options" %}</a></li>
	</ul>
	<div id="widget-edit-properties">
		<div class="form">
			<div class="fieldset">
				{% for field in obj_form %}
				{{ field|form_field }}
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="widget-edit-boxmodel">
		<div class="ui-helper-clearfix">
			<div class="span-12">
				<div class="form">
					<div class="fieldset fieldset-inline">
						<h3>{% trans "Box Dimensions" %}</h3>
						<h4>{% trans "Horizontal axis" %}</h4>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Content width" %}</label>
							<div class="widget">
								<div id="horizontal-span"></div>
							</div>
						</div>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Padding left" %}</label>
							<div class="widget">
								<div id="horizontal-prepend"></div>
							</div>
						</div>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Padding right" %}</label>
							<div class="widget">
								<div id="horizontal-append"></div>
							</div>
						</div>
						<h4>{% trans "Vertical axis" %}</h4>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Content height" %}</label>
							<div class="widget">
								<div id="vertical-span"></div>
							</div>
						</div>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Padding top" %}</label>
							<div class="widget">
								<div id="vertical-prepend"></div>
							</div>
						</div>
						<div class="field ui-helper-clearfix">
							<label>{% trans "Padding bottom" %}</label>
							<div class="widget">
								<div id="vertical-append"></div>
							</div>
						</div>
					</div>
					<div class="fieldset">
						<h3>{% trans "Box Style" %}</h3>
						{{ form.style|form_field }}
						<div class="hidden">
							{{ form.prepend }}
							{{ form.span }}
							{{ form.append }}
							<br />
							{{ form.vertical_prepend }}
							{{ form.vertical_span }}
							{{ form.vertical_append }}
							<br />
							{{ form.push }}
							{{ form.pull }}
							<br />
							{{ form.vertical_push }}
							{{ form.vertical_pull }}
						</div>
					</div>
				</div>
			</div>
			<div class="span-12 last">
				<div class="form">
					<div class="fieldset">
						<h3>{% trans "Preview Widget" %}</h3>
						<p id="widget_update_text"></p>
						<div id="box-model" class="ui-helper-clearfix">
							<div id="box-model-padding">
								<div id="box-model-content" class="webcms-content">{% trans "Widget Content" %}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="widget-edit-miscellaneous">
		<div class="form">
			<div class="fieldset">
				<h3>{% trans "Widget options" %}</h3>
				{{ form.label|form_field }}
				<div class="fieldrow">
					{{ form.template_name|form_field }}
				</div>
				<div class="fieldrow">
					{{ form.align|form_field }}
					{{ form.vertical_align|form_field }}
				</div>

				<div style="display:none;">
				{{ form.visible|form_field }}
				</div>
			</div>
			<div class="fieldset">
				<h3>{% trans "Box options" %}</h3>
				<div class="fieldrow">
					{{ form.clear|form_field }}
					{{ form.last|form_field }}
				</div>
				{{ form.border|form_field }}
			</div>
		</div>
	</div>
</form>
