{% load i18n %}

<div class="span-11 append-1">
	<h3>{% trans "Interaction states" %} (jQuery UI)</h3>
	<div class="ui-widget">
		<div class="ui-state-default ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-document" style="float: left; margin-right: .3em;"></span>
			<strong>Hi,</strong> Sample ui-state-default style.</p>
		</div>
	</div>
	<br />
	<div class="ui-widget">
		<div class="ui-state-default ui-state-disabled ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-star" style="float: left; margin-right: .3em;"></span>
			<strong>Help</strong> I am disabled default!</p>
		</div>
	</div>
	<br />
	<div class="ui-widget">
		<div class="ui-state-hover ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-flag" style="float: left; margin-right: .3em;"></span>
			<strong>Cao,</strong> Sample ui-state-hover style.</p>
		</div>
	</div>
	<br />
	<div class="ui-widget">
		<div class="ui-state-active ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-star" style="float: left; margin-right: .3em;"></span>
			<strong>Hello</strong> Sample ui-state-active style.</p>
		</div>
	</div>
	<br />
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
			<strong>Hey!</strong> Sample ui-state-highlight style.</p>
		</div>
	</div>
	<br/>
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
			<strong>Alert:</strong> Sample ui-state-error style.</p>
		</div>
	</div>
</div>
<div class="span-12 last">
	<h3>{% trans "Status alerts" %} (Blueprint)</h3>
	<p class="error">This is a sample of the ‘error’ style. Lorem Ipsum is simply dummy text of the web.</p>
	<p class="info">This is a sample of the ‘info’ style. Lorem Ipsum is simply dummy text of the web.</p>
	<p class="notice">This is a sample of the ‘notice’ style. Lorem Ipsum is simply dummy text of the web.</p>
	<p class="alert">This is a sample of the ‘alert’ style.Lorem Ipsum is simply dummy text of the web.</p>
	<p class="success">This is a sample of the ‘success’ style. Lorem Ipsum is simply dummy text of the web.</p>
</div>
