{% extends widget.get_base_list_template %}

{% block content %}

<div data-ride="carousel" class="carousel slide fullscreen-slider" id="carousel_{{ widget.fe_identifier }}">
  <ol class="carousel-indicators">
    {% for item in page.get_children %}
    {% if item.in_navigation %}
    <li{% if forloop.first %} class="active"{% endif %} data-slide-to="{{ forloop.counter0 }}" data-target="#carousel_{{ widget.fe_identifier }}"></li>
    {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for item in page.get_children %}
    {% if item.in_navigation %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <div class="slider-caption">
      {% block item_content %}
      {% endblock %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <a data-slide="prev" href="#carousel_{{ widget.fe_identifier }}" class="left carousel-control">
    <span class="fa fa-chevron-left"></span>
  </a>
  <a data-slide="next" href="#carousel_{{ widget.fe_identifier }}" class="right carousel-control">
    <span class="fa fa-chevron-right"></span>
  </a>
</div>

{% endblock %}
