{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block head_title %}
{% trans "Forgotten Password" %}
{% endblock %}

{% block page_title %}
{% trans "Forgotten Password" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Forgotten Password" %}</strong></li>
{% endblock %}

{% block content %}
<p>{% trans "Enter your e-mail address and you will receive immediatelly a link with an option to set a new password." %}</p>
<form class="form" method="post" action=".">
	{% csrf_token %}
	<div class="fieldset">
		<div class="fieldrow">
			{{ form.email|form_field }}
		</div>
	</div>
	<div class="buttonset">
		<p class="required">* {% trans "Required fields" %}</p>
		<a class="f-left link" href="{% url webcms.module.web.apps.auth/webcms_web_login %}">{% trans "Log In" %}</a>
		{% form_button "submit" "Submit" %}
	</div>
</form>
{% endblock %}
