{% extends "widget/base.html" %}

{% load i18n %}

{% block head_title %}
{% trans "Password Change" %}
{% endblock %}

{% block page_title %}
{% trans "Password Change" %}
{% endblock %}

{% block breadcrumbs %}
<li><strong>{% trans "Password Change" %}</strong></li>
{% endblock %}

{% block content %}
<p class="success">{% trans "Your password has been set. You may go ahead and log in now." %}</p>
<div class="buttonset">
	<a class="link" href="{% url webcms.module.web.apps.auth/webcms_web_login %}">{% trans 'Log In' %}</a>
</div>
{% endblock %}
