
{% load feincms_tags %}
{% load feincms_page_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Smugglers">
    <title>Robotice</title>

    {% block css %}
      {% include "_stylesheets.html" %}
    {% endblock %}
    {% include "horizon/_conf.html" %}
    {% include "horizon/client_side/_script_loader.html" %}
    {% include "horizon/_custom_head_js.html" %}

    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/main.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/smoothscroll.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation" ng-app='hz'>

    <!-- Fixed navbar -->
      <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>Robotice</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% feincms_nav feincms_page level=2 depth=2 as sublevel %}
              {% for p in sublevel %}
                  <li><a href="{{ p.get_absolute_url }}" class="smothScroll">{{ p.title }}</a></li>              
              {% endfor %}
            </ul>

          <div id="user_info" class="pull-right">

            <ul class="nav navbar-nav">
              {% if request.user.is_authenticated %}
                <li><a class="fa fa-user" href="TODO">{{ request.user.username }}</a></li>
                <li><a href="{% url 'horizon:module:auth:logout' %}">Sign Out</a></li>
              {% else %}
                <li><a class="ajax-modal" href="{% url 'horizon:module:auth:login' %}">Sign In</a></li>
                <li><a class="ajax-modal" href="{% url 'horizon:module:auth:signup' %}">Sign Up</a></li>
              {% endif %}             
            </ul>
            
          </div>
          
          </div><!--/.nav-collapse -->
        </div>


      </div>

  {% block main %}
     <div id="content">
         {% block content %}
         {% feincms_render_region feincms_page "main" request %}
         {% endblock %}
     </div>

     <div id="sidebar">
         {% block sidebar %}
         {% feincms_render_region feincms_page "navigation" request %}
         {% feincms_render_region feincms_page "sidebar" request %}
         {% endblock %}
     </div>
	{% endblock main %}

    <div id="footerwrap">
      {% block footer %}
    		{% include 'common/footer.html' %}
      {% endblock %}
    </div>

  <script src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}
  <div id="modal_wrapper"></div>
  </body>
</html>
