{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<ul class="breadcrumb {{ widget.orientation }}">
{% if widget.orientation == "vertical" %}
{% for url, more, title in trail %}
{% if widget.root_text %}
<li {% if not url %}class="active"{% endif %}>
	{% if url %}
	<a href="{{ url }}">{% if forloop.first and widget.root_text %}{{ widget.root_text }}{% else %}{{ title }}{% endif %}</a>
	{% else %}
	{{ title }}
	{% endif %}
</li>
{% elif not forloop.first %}
<li {% if not url %}class="active"{% endif %}>
	{% if url %}
	<a href="{{ url }}">{% if forloop.first and widget.root_text %}{{ widget.root_text }}{% else %}{{ title }}{% endif %}</a>
	{% else %}
	{{ title }}
	{% endif %}
</li>
{% endif %}
{% endfor %}
{% if not include_self %}
{{ extension|safe }}
{% endif %}
{% else %}
{% for url, more, title in trail %}
{% if title != '' %}
{% if not forloop.first %}
<li {% if not url %}class="active"{% endif %}>
	{% if url and title %}
	<a href="{{ url }}">{% if forloop.first and widget.root_text %}{{ widget.root_text }}{% else %}{{ title }}{% endif %}</a>
	{% else %}
	{{ title }}
	{% endif %}
</li>
{% endif %}
{% endif %}
{% endfor %}
{% if not include_self %}
{{ extension|safe }}
{% endif %}
{% endif %}
</ul>
{% endblock %}
