{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<ul class="{{ widget.orientation }}">
<li><strong>{% trans "You are here" %}:</strong></li>
{% for url, more, title in trail %}
{% if title != '' %}
<li>
	{% if not forloop.first %} › {% endif %}
	{% if url and title %}
	<a href="{{ url }}">{% if forloop.first and widget.root_label %}{{ widget.root_label }}{% else %}{{ title }}{% endif %}</a>
	{% else %}
	<strong>{{ title }}</strong>
	{% endif %}
</li>
{% endif %}
{% endfor %}
{% if not include_self %}
{{ extension|safe }}
{% endif %}
</ul>
{% endblock %}
