{% extends "admin/base_site.html" %}

{% load i18n %}
{% load webcms_tags %}

{% block content_title %}
<h2>{% trans "Update CSS style file" %} {{ file_name }}</h2>
{% endblock %}

{% block object-tools %}
<li><a href="{% url webcms_admin:dashboard %}">{% trans "Edit theme" %}</a></li>
{% endblock %}

{% block content %}
<div class="admin-form-areas">
	<div class="span-4">
		<h3>{% trans "Select css file" %}</h3>
		<ul>
			{% for file in parsed_css %}
			{% if file.name == file_name %}
			<li><strong>{{ file.name }}</strong></li>
			{% else %}
			<li><a href="{% url webcms_devel_admin_css_edit file.name %}">{{ file.name }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="span-20" style="position:relative;">
		<div id="editor_content"></div>
		<div id="editor_content_wrapper"></div>
		<div id="original" style="display:none;">{{ content }}</div>
		<div class="admin-form-buttons">
			<button id="save_button" type="submit" >{% trans "Save" %}</button>
		</div>
	</div>
</div>

<script src="/static/lib/ace/0.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/lib/ace/0.2.0/theme-textmate.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/lib/ace/0.2.0/mode-css.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	var editor = ace.edit("editor_content");
	editor.getSession().setValue(jQuery('#original').html());
	editor.setTheme("ace/theme/textmate");
	jQuery('#save_button').button().bind('click', function() {
		alert(editor.getSession().getValue());
	});
	//var CssMode = require("ace/mode/css").Mode;
	//editor.getSession().setMode(new CssMode());
});
</script>
<style type="text/css">
#editor_content { position: absolute; z-index:100; width:800px; height:450px; top:20px; left:0px; }
#editor_content_wrapper { position:relative; z-index:50; height:490px;  }
{% endblock %}
</style>
