
{% load feincms_tags %}
{% load feincms_page_tags %}
{% load branding i18n %}
<!DOCTYPE html>
<html>
  {% block header %}
  {% include "_header.html" %}
  {% endblock header %}
  <body id="{% block body_id %}{% endblock %}" ng-app='hz' class="skin-blue {% if not request.user.is_authenticated %}sidebar-collapse sidebar-open{% endif %}">
    <div id="modal_wrapper"></div>
    <div class="wrapper">
      <header class="main-header">
        {% block page_header %}
          {% feincms_render_region feincms_page "header" request %}
        {% endblock %}
      </header>
      {% include "horizon/_messages.html" %}
      {% block sidebar %}
      <aside class="main-sidebar">

        {% block navbar %}

          <!-- Fixed navbar -->
          <div id="navigation" class="navbar navbar-default navbar-fixed-top" role='navigation'>
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><b>Robotice</b></a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  {% feincms_render_region feincms_page "col1" request %}
                </ul>

              <div id="user_info" class="pull-right">

                <ul class="nav navbar-nav">
                  {% if request.user.is_authenticated %}
                    <li><a class="fa fa-user ajax-modal" href="{% url 'horizon:contrib:forms:update' 'user' request.user.id %}">{{ request.user.username }}</a></li>
                    {% if request.user.is_staff and request.frontend_editing %}
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                      <a href="#" data-toggle="control-sidebar"><i class="fa fa-outdent"></i>{% trans 'Settings' %}</a>
                    </li>
                    {% endif %}
                    <li><a href="{% url 'horizon:module:auth:logout' %}">Sign Out</a></li>
                  {% else %}
                    <li><a class="ajax-modal" href="{% url 'horizon:module:auth:login' %}">Sign In</a></li>
                    <li><a class="ajax-modal" href="{% url 'horizon:module:auth:signup' %}">Sign Up</a></li>
                  {% endif %}             
                </ul>
                
              </div>
              
              </div>
            </div>
          </div>
        {% endblock %}

      </aside>
      {% endblock %}

      {% block content %}

      <div class="content-wrapper">
        <section class="content-header">

        </section>
        <section class="content">
          {% block main %}
            {% if request.frontend_editing %}
            <a href="{% url 'widget_create' 'web.htmltextwidget' %}">Přidat</a>
            {% endif %}
            {% feincms_render_region feincms_page "col3" request %}
          {% endblock %}
        </section>
      </div>
      {% endblock %}
      <footer class="main-footer">
        {% block footer %}
          {% feincms_render_region feincms_page "footer" request %}
        {% endblock %}
      </footer>

      {% if request.user.is_authenticated and request.user.is_staff and request.frontend_editing %}
        {% include "common/user_sidebar.html" %}
      {% endif %} 

    </div>
    {% block js %}
    {% include "horizon/_scripts.html" %}
    {% endblock %}

    {% block body_header %}{% feincms_render_region feincms_page "header" request %}{% endblock %}

    {% block body_footer %}{% feincms_render_region feincms_page "footer" request %}{% endblock %}

    {% block body_toolbar %}{% feincms_render_region feincms_page "toolbar" request %}{% endblock %}

    {% block body_helper %}{% feincms_render_region feincms_page "helper" request %}{% endblock %}

    {% block body_preview %}{% feincms_render_region feincms_page "preview" request %}{% endblock %}

  </body>
</html>