{% extends "admin/base.html" %}

{% load i18n %}
{% load satchmo_util %}

{% block extrahead %}
{% blackbird_logging %}
{{ block.super }}
{% comment %}
<script type="text/javascript">

(function($) {

	django.select_if_one = function(selector, label) {
		var elt = $(selector);
		if (elt && elt.length>0 && elt[0].options.length == 2) {
			try { log.debug('selecting default ' + label); } catch(err) {};
			elt[0].options[1].selected = true;
		}
	}

	$(document).ready(function($) {
		satchmo.select_if_one('#id_site', 'site');
	});
})(django.jQuery);

</script>
{% endcomment %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block title %}{{ title }} | {% trans 'WebCMS Administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/admin/">{% trans 'WebCMS Administration' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
