{% extends "admin/base_site.html" %}

{% load adminmedia admin_list i18n %}

{% block extrastyle %}
{{ block.super }}
{% if cl.formset or action_form %}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style type="text/css">
#changelist table thead th:first-child {width: inherit}
</style>
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/static/lib/webcms/js/actions.js"></script>
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
	$(document).ready(function($) {
		$("tr input.action-select").actions();
	});
})(django.jQuery);

(function($) {
	$(document).ready(function($) {
		$(".paginator span, .paginator a, #changelist-search button, .object-tools a, .object-tools button, .admin-form-actions button").button();
		$('.this-page').addClass('ui-state-focus');
	});
})(jQuery);


</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content_title %}
<h2>{{ cl.opts.verbose_name_plural|capfirst }}</h2>
{% endblock %}

{% block object-tools %}
{% if has_add_permission %}
<li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
{% endif %}
<li><a href="{% url webcms_admin:dashboard %}">{% trans "Project dashboard" %}</a></li>
{% endblock %}

{% block content %}
{% block filters %}
{% if cl.has_filters %}
<div class="span-4">
	<div id="changelist-filter">
		{% block search %}{% search_form cl %}{% endblock %}
		{% for spec in cl.filter_specs %}
		{% admin_list_filter cl spec %}
		{% endfor %}

		{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
	</div>
</div>
{% endif %}
{% endblock %}

<div class="prepend-{% if cl.has_filters %}4{% else %}0{% endif %}">
	<div class="tabs-container" id="changelist">
		<form class="webcms-form" id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
			{% if action_form and cl.full_result_count %}
			<div class="admin-form-actions">
				{% admin_actions %}
				{% block actions %}{% endblock %}
				<div class="admin-form-pagination">
					{% pagination cl %}
				</div>
			</div>
			{% endif %}
			{% if cl.formset.errors %}
			<p class="errornote">
			{% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
			</p>
			{{ cl.formset.non_form_errors }}
			{% endif %}

			{% csrf_token %}

			{% if cl.formset %}
			{{ cl.formset.management_form }}
			{% endif %}

			{% block result_list %}
			{% result_list cl %}
			{% endblock %}
			<div class="admin-form-buttons ui-helper-clearfix">
				{% block buttons %}{% endblock %}
				<div class="admin-form-pagination">
					{% block pagination %}{% pagination cl %}{% endblock %}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
