{% load adminmedia %}
{% load i18n %}

{% if cl.search_fields %}
<form id="changelist-search" action="" method="get">
	<h3>{% trans "Search items" %}</h3>
	<div>
		<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
		<button type="submit">{% trans 'Search' %}</button>
		{% if show_result_count %}
		<button type="button" onclick=".?{% if cl.is_popup %}pop=1{% endif %}">{% trans 'Clear' %}</button>
		{% endif %}
		{% for pair in cl.params.items %}
		{% ifnotequal pair.0 search_var %}
		<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
		{% endifnotequal %}
		{% endfor %}
	</div>
</form>
{% if show_result_count %}
<ul>
<li><a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans count cl.result_count as counter %}1 item{% plural %}{{ counter }} items{% endblocktrans %} {% blocktrans with cl.full_result_count as full_result_count %}out of total {{ full_result_count }}{% endblocktrans %}.</a></li>
</ul>
{% endif %}

<script type="text/javascript">
document.getElementById("searchbar").focus();
</script>
{% endif %}
