{% load i18n admin_tools_menu_tags %}

{% if menu.children %}
{% comment %}
{% if has_bookmark_item %}
{% if bookmark %}
{% include "admin_tools/menu/remove_bookmark_form.html" %}
{% else %}
{% include "admin_tools/menu/add_bookmark_form.html" %}
{% endif %}
{% endif %}
{% endcomment %}

{% for superitem in menu.children %}
<div class="span-6">
	<h3 style="margin-bottom:0;padding:20px 0;">{{ superitem.title }}</h3>
	{% if superitem.description %}
	<p>{{ superitem.description }}</p>
	{% endif %}
</div>

<div class="span-18 last">
	<div class="tabs-container">
		{% if not superitem.is_empty %}
		{% if superitem.children %}
		<ul style="margin-bottom:0;padding:40px 0px 10px 0px;" class="ui-helper-clearfix">
			{% for item in superitem.children %}
			{% if not item.is_empty %}
			<li style="list-style-type:none; float:left; width:96px; padding-right:10px;" class="menu-item{% ifequal index 1 %} first{% endifequal %}{% if not item.enabled %} disabled{% endif %}{% if selected %} selected{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}">
				<a style="display:block; text-align:center; padding-bottom:10px;" href="{% if item.url and item.enabled %}{{ item.url }}{% else %}#{% endif %}"{% if item.description %} title="{{ item.description }}"{% endif %}{% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %}>
					{% if superitem.css_classes == 'local' or item.css_classes == 'local' %}
					<img src="/static/theme/img/admin/icons/{{ item.url|slugify|slice:"5:" }}.png" style="display:block; width:96px; height:96px;" alt="---" />
					{% else %}
					{% if item.url|length > 10 %}
					<img src="/static/lib/webcms/img/admin/icons/{{ item.url|slugify|slice:"5:" }}.png" style="display:block; width:96px; height:96px;" alt="---" />
					{% else %}
					<img src="/static/lib/webcms/img/admin/icons/{{ item.url|slugify }}.png" style="display:block; width:96px; height:96px;" alt="---" />
					{% endif %}
					{% endif %}
					{{ item.title }}
				</a>
				{% if item.children %}
				<ul>
					{% for child_item in item.children %}
					{% admin_tools_render_menu_item child_item %}
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
		{% endif %}
	</div>
</div>
{% if not forloop.last %}
<hr />
{% endif %}
{% endfor %}

{% endif %}
