{% load i18n %}
{% load admin_tools_menu_tags %}

{% for item in menu.children %}
<li class="item {% if request.META.PATH_INFO == item.url %}current-cat{% else %}{% for item in item.children %}{% if request.META.PATH_INFO == item.url %}current-cat{% endif %}{% endfor %}{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a>
	{% if not item.is_empty %}
	{% if item.children %}
	<ul>
		{% for item in item.children %}
		{% if not item.is_empty %}
		<li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}{% if request.META.PATH_INFO == item.url %} current-cat{% endif %}">
			<a href="{% if item.url and item.enabled %}{{ item.url }}{% else %}#{% endif %}">{{ item.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{% endif %}
</li>
{% endfor %}
