{% extends "widget/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="banner-images ui-helper-clearfix">
	<div id="{{ widget.fe_identifier }}-images">
		{% for banner in widget.slot.banner_set.all %}
		<div class="banner" {% if forloop.first %}style="display:block;"{% endif %}>
			<a href="{{ banner.destination }}">
				{% thumbnail banner.file.file "713x345" crop="center" format="PNG" as image %}
				<img alt="" src="{{ image.url }}" />
				{% endthumbnail %}
			</a>
		</div>
		{% endfor %}
	</div>
	<div id="{{ widget.fe_identifier }}-controls" class="banner-controls"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#{{ widget.fe_identifier }}-images').cycle({ 
		fx: 'fade', 
		speed: 'slow', 
		timeout: {{ widget.rotation_speed|default:"4000" }}, 
		pager: '#{{ widget.fe_identifier }}-controls' 
	});
});
</script>
{% endblock %}

