{% extends "widget/base.html" %}

{% load i18n %}
{% load webcms_form_tags %}

{% block content %}
<form id="{{ widget.fe_identifier }}-form" action="." method="post" class="form">
	{% csrf_token %}
	<div class="fieldset">
		{{ form.name }}

  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}
		</div>
	<div class="buttonset">
		{% form_button "submit" "Go" %}
	</div>
</form>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// webcms_form_init($("#{{ widget.fe_identifier }} form"));
});
</script>
{% endblock %}
